Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

pnpm for dev profile
  docker-compose.yaml
  dockerfiles/ui-dev.dockerfile
Due: none

Update ui version
  docker-compose.yaml
Due: none

fixed roles locale sorting issue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

Association label mismatch on detail page compare to metadata field fix
  src/phaidra-ui/locales/deu.json
Due: build-ui

single title on detail page
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

clear Alerts on navigation change
  src/phaidra-ui/layouts/default.vue
Due: build-ui

Fix metadata form field clear
  src/phaidra-vue-components/src/components/input/PIFile.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
  src/phaidra-vue-components/src/components/input/PISubjectBk.vue
  src/phaidra-vue-components/src/components/input/PISubjectGnd.vue
  src/phaidra-vue-components/src/components/input/PISubjectOefos.vue
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
Due: build-ui

Fix usage_log cleanup after monthly archive
  container_init/chronos/original-perl/dumpUsageLog.pl
Due: build-chronos-dist

Update chronos version
  docker-compose.yaml
Due: none

leftover Vuetify 2 table issues fixed
  src/phaidra-ui/components/Repostat.vue
  src/phaidra-ui/components/dashboard/Cmodels.vue
Due: build-ui

collection dialog paging fix
  src/phaidra-vue-components/src/components/select/CollectionDialog.vue
Due: build-ui

Fix publication org unit and other affiliation not saving
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

space issue on latest upload cards
  src/phaidra-ui/components/dashboard/Latestuploads.vue
Due: build-ui

Show only UI language for edm:TimeSpan temporal coverage
  src/phaidra-vue-components/src/components/display/PDDate.vue
Due: build-ui

Base get_name and get_email methods on get_user_data
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
Due: build-api-dist

Fix emitting wrong object in entity type switch
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

Update api/ui version
  docker-compose.yaml
Due: none

Rights management: Initial AI proposal
  .gitlab-ci.yml
  docker-compose.yaml
  policies/README.md
  policies/data/phaidra/config.json
  policies/data/univie/config.json
  policies/opa-config.yaml
  policies/phaidra/authz/admin.rego
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/datastream.rego
  policies/phaidra/authz/deny.rego
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/object.rego
  policies/phaidra/authz/restrict.rego
  policies/phaidra/authz/rights.rego
  policies/phaidra/authz/space.rego
  policies/phaidra/authz/ui.rego
  policies/phaidra/authz/upload.rego
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/middleware/bulk-upload.js
  src/phaidra-ui/store/index.js
  website/docs/authorization.md
Due: build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Remove virtual group owner
  policies/data/phaidra/config.json
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/object.rego
  policies/phaidra/authz/restrict.rego
  policies/phaidra/authz/upload.rego
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: fix config layout, public datastreams and instance wide delete
  .gitignore
  policies/README.md
  policies/data/univie/config.json
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/datastream.rego
  policies/phaidra/authz/datastream_test.rego
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/upload.rego
  policies/phaidra/config/data.json
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: Cache authz decision in request stash
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
Due: build-api-dist

Rights management: fix linting errors
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Metadata.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
Due: build-api-dist

Rights management: remove some more unused definitions
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/restrict.rego
Due: none

Rights management: Refactor routing for more transparency
  policies/phaidra/authz/account.rego
  policies/phaidra/authz/account_test.rego
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/datastream.rego
  policies/phaidra/authz/datastream_test.rego
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/siteadmin.rego
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Controller/Streaming.pm
  src/phaidra-api/PhaidraAPI/Controller/Threed.pm
  src/phaidra-api/PhaidraAPI/Controller/Tikaserver.pm
  src/phaidra-api/PhaidraAPI/Controller/Viewer360.pm
  src/phaidra-api/PhaidraAPI/Model/Annotations.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Geo.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonldprivate.pm
  src/phaidra-api/PhaidraAPI/Model/Membersorder.pm
  src/phaidra-api/PhaidraAPI/Model/Mods.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  src/phaidra-api/PhaidraAPI/Model/Rights.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-api/public/docs/openapi.json
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: Introduce default role for instance wide curation switch
  docker-compose.yaml
  policies/data/phaidra/config.json
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/metadata.rego
  policies/phaidra/authz/metadata_test.rego
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Metadata.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: Remove legacy intcall mechanism
  policies/phaidra/authz/admin.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/upload.rego
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI/Controller/Jsonldprivate.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonldprivate.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: do not use form capabilities for now
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/middleware/bulk-upload.js
Due: build-ui

Rights management: Small plumbing fixes
  docker-compose.yaml
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: add more comment and documentation, rename authz_optional
  policies/README.md
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: fix overlapping rule and reading controller/action
  policies/phaidra/authz/allow.rego
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
Due: build-api-dist

Rights management: Remove spaces, add metadata policy instead
  policies/data/phaidra/config.json
  policies/phaidra/authz/account_test.rego
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/deny.rego
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/metadata.rego
  policies/phaidra/authz/metadata_test.rego
  policies/phaidra/authz/space.rego
  policies/phaidra/authz/upload.rego
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Metadata.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: Do not store denials in mongo
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: remove leftover policy docs
  policies/README.md
Due: none

Add initial_sync to api dev compose
  docker-compose.yaml
Due: none

Rights management: Sanitize username to avoid log pollution
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
Due: build-api-dist

Rights management: remove unused policy helper
  policies/phaidra/authz/upload.rego
Due: none

Rights management: Fix bypassing role configuration
  policies/phaidra/authz/helpers.rego
  policies/phaidra/authz/helpers_test.rego
Due: none

Rights management: fix linting errors
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist
