Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

Rights management: Fix lint error
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
Due: build-api-dist

Rights management: removed redundant `writer`-for-all role from code (is covered by default policy)
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: Fix matching `ids` array in policies
  policies/phaidra/authz/metadata.rego
  policies/phaidra/authz/metadata_test.rego
Due: none

Rights management: Log /capabilities and form checks
  policies/phaidra/authz/allow.rego
  src/phaidra-api/PhaidraAPI/Model/Policy/Audit.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: Fix boolean `enabled` property handling in policies
  policies/phaidra/authz/metadata.rego
  policies/phaidra/authz/metadata_test.rego
Due: none

Rights management: cleanup docs
  website/docs/authentication.md
  website/docs/authorization.md
Due: build-website-push-staging, build-website-push-final

Rights management: make ir_admin a username again (not a role)
  policies/README.md
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/siteadmin.rego
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Rights management: enable opa by default
  docker-compose.yaml
Due: none

Switch opa to a specific image version
  docker-compose.yaml
Due: none

Update api/ui version
  docker-compose.yaml
Due: none

vra in json ld context
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  website/docs/metadata.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

mods and uwmetadata getch datastream and render in api
  src/phaidra-api/PhaidraAPI/Controller/Mods.pm
  src/phaidra-api/PhaidraAPI/Controller/Uwmetadata.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Rights management: Fix internal check_rights calls having an endpoint
  policies/phaidra/authz/allow_test.rego
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Hardens param check and changes cache TTL on imageserver proxy
  policies/phaidra/authz/datastream.rego
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
Due: build-api-dist

Fix legacy mask directive
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

Fixes two more store calls
  src/phaidra-ui/layouts/default.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

Fix calling root store in mounted
  src/phaidra-ui/components/dashboard/Cmodels.vue
  src/phaidra-ui/pages/metadata/[pid]/edit.vue
  src/phaidra-ui/pages/stats/[pid].vue
  src/phaidra-ui/pages/submit/uwm/[cmodel].vue
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
Due: build-ui

ui: bump base image to node26, which includes minimumReleaseAge as protection against compromised npm packages
  dockerfiles/ui-dev.dockerfile
  dockerfiles/ui.dockerfile
  src/phaidra-ui/pnpm-workspace.yaml
Due: build-ui

Update pnpm version to 11.24.0 and adjust Dockerfile for corepack installation; add package overrides in pnpm workspace
  dockerfiles/ui-dev.dockerfile
  src/phaidra-ui/package.json
  src/phaidra-ui/pnpm-workspace.yaml
Due: build-ui

Add pnpm-lock changes
  src/phaidra-ui/pnpm-lock.yaml
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

add italian translation of label
  src/phaidra-ui/locales/ita.json
Due: build-ui

add another missing italian translation of label
  src/phaidra-ui/locales/ita.json
Due: build-ui

Add 3 more languages to lang list
  src/phaidra-vue-components/src/utils/lang.js
Due: build-ui

Accessibility search drop down issue fixed vue 2 to vue 3
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

Fix Geonames place fields duplicating on metadata edit
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Remove ssologoutlink since ssologout works even without the anchor
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

Fix required affiliations api config typo
  src/phaidra-api/PhaidraAPI.conf
Due: build-api-dist

geonames search return on empty string
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
Due: build-ui

geonames marker on template load and edit form
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
Due: build-ui

ror search fix
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/select/RorSearch.vue
Due: build-ui

Remove initial_sync because getting docker error
  docker-compose.yaml
Due: none

Add template preprocessing and style injection to Runtimetemplate component
  src/phaidra-ui/components/Runtimetemplate.vue
Due: build-ui

Add linting script which matches CI image to avoid linting whack-a-mole on different versions
  scripts/lint-phaidra-api.sh
Due: none

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
