Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

remove 360 viewer cmodel and changed the logic
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/submit/uwm/_cmodel.vue
  src/phaidra-ui/utils/cmodels.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

Adds 3d-converter image build
  .gitlab-ci.yml
Due: none

Changes 360viewer agent name to unzip
  src/360viewer/index.js
Due: build-360-converter

Removes httpd_custom.conf from gitignore
  .gitignore
Due: none

Adds TL;DR section
  README.md
Due: none

Adds default placeholder values for PHAIDRA_ADMIN_EMAIL and MD_CERTIFICATE_AGREEMENT
  docker-compose.yaml
Due: none

Edit README.md
  README.md
Due: none

Updates prerequisities for demo in README
  README.md
Due: none

v3.3.17
  CHANGELOG.md
Due: none

Rebase to main and normalize unzip agent and volume
  docker-compose.yaml
  dockerfiles/agent-libvips-base.dockerfile
  dockerfiles/agent-libvips-dist.dockerfile
  dockerfiles/agent-obj2gltf.dockerfile
  dockerfiles/agent-opencast-dist.dockerfile
  dockerfiles/agent-unzip.dockerfile
  src/agents/hdl/package.json
  src/agents/libvips/agent-libvips.pl
  src/agents/obj2gltf/package.json
  src/agents/opencast/controller.bash
  src/agents/tika/package.json
  src/agents/unzip/index.js
  src/agents/unzip/package.json
Due: build-agent-hdl

Fix missing agent renames
  dockerfiles/agent-opencast-dist.dockerfile
  src/agents/opencast/controller.bash
Due: none

Reorganize compose file based on services, not profiles
  docker-compose.yaml
Due: none

Resolve conflicts
  dockerfiles/agent-libvips-base.dockerfile
  dockerfiles/agent-libvips-dist.dockerfile
  dockerfiles/agent-obj2gltf.dockerfile
  src/agents/libvips/agent-libvips.pl
  src/agents/obj2gltf/package.json
Due: none

Add script to migrate agent names
  src/phaidra-api/migrations/v3.4.0-1.pl
Due: build-api-dist

Change agent versions back to commit
  docker-compose.yaml
Due: none

Add volume migration script
  scripts/migrate_volumes_v3.4.0.sh
Due: none

Fix wrong volume name
  docker-compose.yaml
Due: none

Fix migration script typos
  src/phaidra-api/migrations/v3.4.0-1.pl
Due: build-api-dist

Updates api version
  docker-compose.yaml
Due: none

Add note on migration to CHANGELOG
  CHANGELOG.md
Due: none

Fix wrong folder path in agent-libvips-dist.dockerfile
  dockerfiles/agent-libvips-dist.dockerfile
Due: none

Update agent-libvips version
  docker-compose.yaml
Due: none

Add migration script to create new usage stats tables
  src/phaidra-api/migrations/v3.4.0-2.pl
Due: build-api-dist

Add a script to migrate usage_stats to usage_log
  src/phaidra-api/migrations/v3.4.0-4.pl
Due: build-api-dist

Add client-only to prevent multiple logs of /preview in usage_log
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Add migration script to load ip2country tsv to table
  src/phaidra-api/migrations/v3.4.0-3.pl
Due: build-api-dist

Update phaidradb/chronos/api/ui versions
  docker-compose.yaml
Due: none

role extended required field marking
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/select/RorSearch.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

required labeling
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/select/RorSearch.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

new validation logic to handle required fields
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIFile.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

corporate fields mandatory marking
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

fix padding on object lists page
  src/phaidra-vue-components/src/components/lists/PDList.vue
Due: build-ui

translate cmodel
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Explicitly copy individual fields into _text_, excluding extracted_text
  container_init/solr/phaidra_core/conf/managed-schema
Due: build-solr-dist

Removed the Solr internal fields
  container_init/solr/phaidra_core/conf/managed-schema
Due: build-solr-dist

update credits sherpa link
  src/phaidra-ui/components/Credits.vue
Due: build-ui

list name breadcrumb update instead of list token
  src/phaidra-ui/pages/list/_token.vue
  src/phaidra-ui/store/index.js
Due: build-ui
