Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Update api/ui version
  docker-compose.yaml
Due: none

Update grafana/grafana Docker tag to v12.4.1
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
  k8s/helm/templates/grafana-deployment.yaml
Due: build-grafana-dist, helm-package

Update dbgate/dbgate Docker tag to v7
  docker-compose.yaml
  k8s/helm/templates/dbgate-deployment.yaml
Due: helm-package

Update grafana version
  docker-compose.yaml
Due: none

CI: fix cicd - build only when dockerfile changes
  .gitlab-ci.yml
Due: none

fix cadvisor
  docker-compose.yaml
Due: none

manually fix file that trips up perltidy
  src/phaidra-api/PhaidraAPI/Model/Rights.pm
Due: build-api-dist

CI: lint yaml, perl, helm in CI pipelines
  .gitlab-ci.yml
  .yamllint
Due: none

api: fix duplicate metrics which lead to prometheus warnings
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

add new terms to object type vocabulary
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

add Magazine Article and Herbaria to object types vocabulary
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

add Botanical Specimen to object type vocabulary and new concepts to Data resource type mapping
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

add new object type terms to the default resource type mapping
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Botanical Specimen object type mapping
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

typo
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

compose: use watch instead of bind mount in api service, so static pdfjs is preserved
  docker-compose.yaml
Due: none

italian translation fixes
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

series solr fields migration script usage added to change log
  CHANGELOG.md
Due: none

changed changelog regarding re indexing
  CHANGELOG.md
Due: none

page start and end position change
  src/phaidra-ui/pages/submit/upload.vue
Due: build-ui

show card outline instead of default shadow elevation in metadata form
  src/phaidra-vue-components/src/components/input/PIAdaptation.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIInstanceOf.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/input/PIStudyPlan.vue
Due: build-ui

Lint fix
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

Add perltidy config again
  src/phaidra-api/.perltidyrc
Due: build-api-dist

Move directory class to model, switch to perl hash config, removed log4perl and perltify config
  dockerfiles/api-base.dockerfile
  src/phaidra-api/.perltidyrc
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/Groups.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory.pm
  src/phaidra-api/lib/phaidra_directory/change_refs.pm
  src/phaidra-api/log4perl.conf
  src/phaidra-api/phaidra-api.cgi
Due: build-api-base, build-api-dist

Make kennzahl element text_input
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

Removing kennzahl logic from uwmetadata editor
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

Remove upstream authentication
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Lint files
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Controller/Tikaserver.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Remove unnecessary foxml wrapper
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Fix accidentally removed header
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Remove more triplestore methods
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Search.pm
Due: build-api-dist

Lint fix
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
Due: build-api-dist

Remove Fedora 3.x logic
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Collection.pm
  src/phaidra-api/PhaidraAPI/Controller/Dc.pm
  src/phaidra-api/PhaidraAPI/Controller/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Controller/Relationships.pm
  src/phaidra-api/PhaidraAPI/Controller/tikaserver.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
  src/phaidra-api/PhaidraAPI/Model/Mods.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Octets.pm
  src/phaidra-api/PhaidraAPI/Model/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

Remove deprecated DC handling and some triplestore methods
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Dc.pm
  src/phaidra-api/PhaidraAPI/Controller/Index.pm
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mods/Extraction.pm
  src/phaidra-api/PhaidraAPI/Model/Ratelimit.pm
  src/phaidra-api/PhaidraAPI/Model/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Extraction.pm
  src/phaidra-api/public/docs/openapi.json
Due: build-api-dist

Remove duplicate logic
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

Remove duplicate logic
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
Due: build-api-dist

Remove TECHINFO endpoint
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Techinfo.pm
Due: build-api-dist
