Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Put some limit to the jobs query
  src/agents/hdl/index.js
Due: build-agent-hdl

Remove admin webapp and 8000 port mapping from handle
  docker-compose.yaml
  dockerfiles/handle.dockerfile
Due: build-handle

Update handle and agent-hdl versions
  docker-compose.yaml
Due: none

Add external links and formatting to showcase pages
  website/showcases/belgrade.md
  website/showcases/fwf.md
  website/showcases/vorarlberger-landesbibliothek.md
Due: build-website-push-staging, build-website-push-final

Add showcases page with Belgrade, FWF, and Vorarlberger Landesbibliothek
  mkdocs.yml
  website/assets/css/tweaks.css
  website/assets/media/showcases/vorarlberger-landesbibliothek-showcase.pdf
  website/overrides/partials/header.html
  website/showcases/belgrade.md
  website/showcases/fwf.md
  website/showcases/index.md
  website/showcases/vorarlberger-landesbibliothek.md
Due: build-website-push-staging, build-website-push-final

Remove unneccessary files from handle compose
  README.md
  docker-compose.yaml
Due: none

Add more documentation about the handle profile
  README.md
Due: none

Remove outdated information from README
  README.md
Due: none

Remove TOC heading
  README.md
Due: none

issue in doi import license check for description
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

abstract will not import alert
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

Switch fcrepo back to 6.5.1-tomcat9
  docker-compose.yaml
Due: none

Added audio/vnd.wave to allowed audio formats
  src/phaidra-ui/pages/bulk-upload/upload.vue
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
  src/phaidra-ui/pages/submit/catalogfetchuploadold.vue
  src/phaidra-ui/pages/submit/uwm/_cmodel.vue
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

cookie removed for locale and theme using localstorage instead
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/pages/termsofuse.vue
  src/phaidra-ui/plugins/locale-persistence.js
  src/phaidra-ui/vuetify.options.js
Due: build-ui

iiifmanifest link hide logic
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Corrupted contribution rows clean up option
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-api-dist, build-ui

lint fix
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

mimetype list changed
  src/phaidra-ui/pages/bulk-upload/upload.vue
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
  src/phaidra-ui/pages/submit/catalogfetchuploadold.vue
  src/phaidra-ui/pages/submit/uwm/_cmodel.vue
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/mimetypes.js
Due: build-ui

Update api/ui version
  docker-compose.yaml
Due: none

Add nuxt-4 image build
  .gitlab-ci.yml
Due: none

Fix ldap entry reading issue + fix CI for nuxt-4-upgrade
  .gitlab-ci.yml
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Remove univie specific code from help page
  src/phaidra-vue-components/src/components/info/PHelp.vue
Due: build-ui

removed unwanted code
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

validation for role field
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/json-ld.js
  src/phaidra-vue-components/src/utils/stringValidation.js
Due: build-api-dist, build-ui

Add canonical link for managed objects
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Fix ir canonical link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Fix utheses canonical link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

uwmetadata detail page empty row space
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

info banner
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

fix typos in README.md
  README.md
Due: none

changed not found alert styling in detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

set value_lang conditionally for specific input types
  src/phaidra-ui/pages/submit/uwm/_cmodel.vue
Due: build-ui

translate Loading label
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

Dockerized the video-js library first
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/video-js/video-js.min.css
  src/phaidra-api/public/video-js/video.min.js
Due: build-api-base, build-api-dist

Dockerized the iipmooviewer library (version: 2.0, commit: 86bfcc69)
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/iipmooviewer/annotations-edit.js
  src/phaidra-api/public/iipmooviewer/annotations.js
  src/phaidra-api/public/iipmooviewer/blank.gif
  src/phaidra-api/public/iipmooviewer/help.png
  src/phaidra-api/public/iipmooviewer/help.svg
  src/phaidra-api/public/iipmooviewer/iip-favicon.png
  src/phaidra-api/public/iipmooviewer/iip.32x32.png
  src/phaidra-api/public/iipmooviewer/iip.min.css
  src/phaidra-api/public/iipmooviewer/iip.png
  src/phaidra-api/public/iipmooviewer/iipmooviewer-2.0-min.js
  src/phaidra-api/public/iipmooviewer/mootools-core-1.6.0-compressed.js
  src/phaidra-api/public/iipmooviewer/print.png
  src/phaidra-api/public/iipmooviewer/print.svg
  src/phaidra-api/public/iipmooviewer/reset.png
  src/phaidra-api/public/iipmooviewer/reset.svg
  src/phaidra-api/public/iipmooviewer/rotateLeft.png
  src/phaidra-api/public/iipmooviewer/rotateLeft.svg
  src/phaidra-api/public/iipmooviewer/rotateRight.png
  src/phaidra-api/public/iipmooviewer/rotateRight.svg
  src/phaidra-api/public/iipmooviewer/zoomIn.png
  src/phaidra-api/public/iipmooviewer/zoomIn.svg
  src/phaidra-api/public/iipmooviewer/zoomOut.png
  src/phaidra-api/public/iipmooviewer/zoomOut.svg
Due: build-api-base, build-api-dist

Dockerized the 360viewer library (version: 1.8.56)
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/360viewer/JavascriptViewer.min.js
Due: build-api-base, build-api-dist
