Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Update ghcr.io/ldapaccountmanager/lam Docker tag to v9.4
  docker-compose.yaml
  dockerfiles/lam.dockerfile
Due: none

Update chronos/agent-opencast/agent-libvips/aip versions
  docker-compose.yaml
Due: none

Fix passing HTTPD_CSP to httpd container
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  docker-compose.yaml
Due: build-httpd-demo-dist

fix italian translation of some vocabulary terms
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

fix dce:subject italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

typo
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

members of button in separate row
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

rights statement autolinker
  src/phaidra-ui/package.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

collection members bottom pagination
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

metainfo always returns obj
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

object not found message in detail screen instead of layout change
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Update httpd-demo/ui versions
  docker-compose.yaml
Due: none

cite as copy functionality
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added mising translation for doi import
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
Due: build-ui

from and to page handle on doi import
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

object type, resource type, language handled for doi import
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

improve info in object not found error message
  src/phaidra-ui/layouts/error.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

pvc i18n removed
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/eng.json
  src/phaidra-vue-components/src/i18n/i18n.js
  src/phaidra-vue-components/src/i18n/ita.json
  src/phaidra-vue-components/src/main.js
  src/phaidra-vue-components/src/store/modules/info.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

removed unwanted line
  src/phaidra-ui/locales/deu.json
Due: build-ui

merged pvc locales to phaidra ui
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
Due: build-ui

pdf.js viewer: pass URL so no warning is logged
  src/phaidra-api/templates/utils/pdfviewer.html.ep
Due: build-api-dist

phaidra-api: update viewer
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/templates/utils/pdfviewer.html.ep
Due: build-api-dist

pdf js url load blob for ims src csp
  docker-compose.yaml
  src/phaidra-api/templates/utils/pdfviewer.html.ep
Due: build-api-dist

hideContainedInPages control from phaidra-ui
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

remove empty translation line
  src/phaidra-ui/locales/ita.json
Due: build-ui

CI: silence curl
  .gitlab-ci.yml
Due: none

Revert "CI: fix helm-package always running"
  .gitlab-ci.yml
Due: none

CI: skip helm pipeline for new branches
  .gitlab-ci.yml
Due: none

CI: build image for CI linting
  .gitlab-ci.yml
  dockerfiles/cicd.dockerfile
Due: none

dynamic copyFields to _text_ in existing script
  src/phaidra-api/migrations/v3.4.0/06_add_solr_copyfields.pl
Due: build-api-dist

dynamic field for uwmetadata index
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
Due: build-solr-dist

schema and script updated for bib_issn and bib_seriesidentifier fields
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
  src/phaidra-api/migrations/v3.4.0/09_add_solr_series_publisher_fields_and_reindex.pl
Due: build-api-dist, build-solr-dist

added missing index
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Update solr/api/ui version
  docker-compose.yaml
Due: none

Remove reindexing from migration script
  src/phaidra-api/migrations/v3.4.0/09_add_solr_series_publisher_fields_and_reindex.pl
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

piform prop for book ui
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

dynamic fields script
  CHANGELOG.md
  src/phaidra-api/migrations/v3.4.0/06_add_solr_copyfields.pl
  src/phaidra-api/migrations/v3.4.0/10_add_solr_dynamic_metadata_copyfields.pl
Due: build-api-dist
