Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Adds possibility to see inactive objects and activate them (if authorized)
  policies/phaidra/authz/account.rego
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/inactive.rego
  policies/phaidra/authz/object.rego
  policies/phaidra/authz/ui.rego
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  src/phaidra-api/migrations/v3.5.0/01_add_inactive_objects.pl
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/mixins/context.js
  src/phaidra-ui/pages/inactive-objects.vue
  src/phaidra-ui/pages/metadata/[pid]/edit.vue
  src/phaidra-ui/stores/root.js
Due: build-api-dist, build-ui

Fix lint errors
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/migrations/v3.4.0/06_add_solr_copyfields.pl
  src/phaidra-api/migrations/v3.4.0/10_add_solr_dynamic_metadata_copyfields.pl
Due: build-api-dist

Fix lint errors
  src/phaidra-api/migrations/v3.4.0/06_add_solr_copyfields.pl
  src/phaidra-api/migrations/v3.4.0/10_add_solr_dynamic_metadata_copyfields.pl
Due: build-api-dist

Update api/ui version
  docker-compose.yaml
Due: none

Fix MODS XSD validation
  src/phaidra-api/public/xsd/mods/mods-3-5.xsd
  src/phaidra-api/public/xsd/mods/xlink.xsd
  src/phaidra-api/public/xsd/mods/xml.xsd
Due: build-api-dist

Remove unused UI deps and bump remaining shared packages.
  src/phaidra-ui/mixins/commonChart.js
  src/phaidra-ui/package.json
  src/phaidra-ui/pnpm-lock.yaml
  src/phaidra-ui/stores/root.js
  src/phaidra-vue-components/package.json
  src/phaidra-vue-components/pnpm-lock.yaml
Due: build-ui

Enable prefill, metadata_only submit and job creation via submitform query params
  mkdocs.yml
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
  src/phaidra-ui/middleware/auth.js
  src/phaidra-ui/mixins/submitDeepLink.js
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/ssoconsent.vue
  src/phaidra-ui/pages/submit/custom/[templateid].vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/utils/submitDeepLinkParams.js
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  website/docs/submit-deep-links.md
  website/docs/ui.md
Due: build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Fix unexported function
  src/phaidra-ui/utils/submitDeepLinkParams.js
Due: build-ui

Update user guide docs
  website/docs/ui.md
Due: build-website-push-staging, build-website-push-final

Remove sanitization notice
  website/docs/submit-deep-links.md
Due: build-website-push-staging, build-website-push-final

Add intermediate opencast submit for normal/oer submit choice
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/mixins/submitDeepLink.js
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/opencast.vue
  src/phaidra-ui/pages/submit/upload.vue
  website/docs/submit-deep-links.md
Due: build-ui, build-website-push-staging, build-website-push-final

Lint api code
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
Due: build-api-dist

Fixing redirection, rename metadata_only to deffered_upload
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/mixins/submitDeepLink.js
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/submit/custom/[templateid].vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/opencast.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/utils/returnPath.js
  src/phaidra-ui/utils/submitDeepLinkParams.js
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  website/docs/submit-deep-links.md
Due: build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Fix linting errors
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Deferred upload checks
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-ui/pages/submit/custom/[templateid].vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-api-dist, build-ui

Use inactive_object status for user facing messages
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/inactive-objects.vue
  website/docs/submit-deep-links.md
Due: build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Fix linting errors
  src/phaidra-api/PhaidraAPI/Model/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Fix ui build
  src/phaidra-ui/pnpm-lock.yaml
Due: build-ui

add check to prevent uninitialized value in string eq
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
Due: build-api-dist

edit metadata thema ita fallback to english
  src/phaidra-vue-components/src/components/input/PIVocabExtReadonly.vue
Due: build-ui

doiimport roleVocabulary now use rolepredicate
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

align submitrelated form with default form for doiimport, Accessibility, page-start, page-end, and contained-in
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
Due: build-ui

delete popup change for template delete
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

translation fix
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
Due: build-ui

reduce cadvisor housekeeping to 10s to reduce CPU use
  docker-compose.yaml
Due: none

Update api/ui versions
  docker-compose.yaml
Due: none

Add cadvisor commands
  docker-compose.yaml
Due: none

Fix dce:prefLabel typo in JSON-LD schema for bf:instanceOf and rdau:P60227
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

Switched MDI from the full webfont to Vuetify’s mdi-js SVG
  src/phaidra-ui/icons/mdi-svg.js
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/package.json
  src/phaidra-ui/plugins/vuetify.js
  src/phaidra-ui/pnpm-lock.yaml
Due: build-ui

Fix dc:identifier in EDM
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Update api version and remove dev bindmount again
  docker-compose.yaml
Due: none

Add update instructions for v3.5.0
  CHANGELOG.md
Due: none

pdf.js viewer: set correct fonts path
  src/phaidra-api/templates/utils/pdfviewer.html.ep
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Add dev section to README
  README.md
Due: none

feat: Complete Docker monitoring infrastructure
  container_init/grafana/dashboards/apache-dashboard.json
  container_init/grafana/dashboards/fedora-dashboard.json
  container_init/grafana/dashboards/phaidra-api-dashboard.json
  container_init/grafana/dashboards/varnish-dashboard.json
  container_init/grafana/dd.yaml
  container_init/prometheus/prometheus.yaml
  container_init/varnish-exporter/Dockerfile
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
Due: build-grafana-dist, build-prometheus-dist

varnish improvements
  container_init/prometheus/prometheus.yaml
  docker-compose.yaml
Due: build-prometheus-dist

Fedora dashboard working version
  container_init/grafana/dashboards/fedora-dashboard.json
  container_init/prometheus/prometheus.yaml
  docker-compose.yaml
Due: build-grafana-dist, build-prometheus-dist

feat: created post and put panels for the fedora dashboard/ label names changed
  container_init/grafana/dashboards/fedora-dashboard.json
  container_init/grafana/dashboards/varnish-dashboard.json
  dockerfiles/grafana-dist.dockerfile
Due: build-grafana-dist
