Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

thema title fix
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
Due: build-ui

app alert center alignment
  src/phaidra-ui/layouts/default.vue
Due: build-ui

header banner implement
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

Adjusted margin styles for titles and side list in detail page
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

access right search fix
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

Added conditional rendering for pagination in detail page based on collection members total
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

metadata field help button class change
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

margin issue on sort drag and input
  src/phaidra-vue-components/src/components/management/PMSort.vue
  src/phaidra-vue-components/src/components/management/PMSortTextinput.vue
Due: build-ui

fixed contribution type of identifier binding
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/mixins/vocabulary.js
Due: build-ui

restricted access button variant change
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

removed unwanted footer props for datatable
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PDList.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/select/CollectionDialog.vue
  src/phaidra-vue-components/src/components/select/ListDialog.vue
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
Due: build-ui

Updated padding in search results author line
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

Updated tab title color in vuetify2-compat.css to use theme variables for better consistency
  src/phaidra-vue-components/src/styles/vuetify2-compat.css
Due: build-ui

Refactored button component in detail page to use VIconBtn
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

Fix dark theme for audio/video preview iframes. Pass theme to API player templates so preview pages paint dark on first load.
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/audioplayer.html.ep
  src/phaidra-api/templates/utils/loadbutton.html.ep
  src/phaidra-api/templates/utils/player_theme.html.ep
  src/phaidra-api/templates/utils/streamingplayer.html.ep
  src/phaidra-api/templates/utils/videoplayer.html.ep
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-api-dist, build-ui

container issue fix
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/nossologin.vue
  src/phaidra-ui/pages/repostats.vue
  src/phaidra-ui/pages/ssoconsent.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

Change bullseye node image to bookworm
  dockerfiles/ui-dev.dockerfile
  dockerfiles/ui.dockerfile
Due: build-ui

Padding and margin reset for heading tags
  src/phaidra-ui/layouts/default.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

Use transparent backgrounds for audio/video preview iframes
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/loadbutton.html.ep
  src/phaidra-api/templates/utils/player_theme.html.ep
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-api-dist, build-ui

checkbox fixes
  src/phaidra-ui/plugins/vuetify.js
Due: build-ui

margin reset for filters title
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

Removed bg-surface from both Container and Collection members pagination rows.
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

vuetify component css override
  src/phaidra-ui/assets/css/vuetify-overrides.css
  src/phaidra-ui/plugins/vuetify.js
Due: build-ui

Bump version of Fedora to 7.0.0
  docker-compose.yaml
Due: none

Remove statistics detail link
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

locale-persistence.js now follows the same Nuxt 4 pattern as other plugins:
  src/phaidra-ui/plugins/locale-persistence.js
Due: build-ui

document title fix for nuxt 4 Added useDocumentTitle() / buildDocumentTitle() in mixins/config.js for Composition API use
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/mixins/config.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/code-of-ethics.vue
  src/phaidra-ui/pages/collections/[collection].vue
  src/phaidra-ui/pages/contact.vue
  src/phaidra-ui/pages/credits.vue
  src/phaidra-ui/pages/editorial-policies.vue
  src/phaidra-ui/pages/file-formats.vue
  src/phaidra-ui/pages/groups.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/pages/impressum.vue
  src/phaidra-ui/pages/lists.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/search.vue
  src/phaidra-ui/pages/submit/index.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

goto hooks fix
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
Due: build-ui

Add notice about head to CHANGELOG
  CHANGELOG.md
Due: none

Move Nuxt HMR websocket proxy into httpd vhost configs
  configs/httpd_custom.conf
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Keep AllowEncodedSlashes/nocanon on all httpd profiles for Nuxt Vite.
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

prevent theme/i18n hydration mismatches via cookie as source of truth
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/plugins/i18n.js
  src/phaidra-ui/plugins/locale-persistence.js
  src/phaidra-ui/plugins/vuetify.js
  src/phaidra-ui/utils/preference-storage.js
Due: build-ui

Revert Fedora image bump unrelated to Nuxt upgrade.
  docker-compose.yaml
Due: none

Remove unused git/ca-certificates
  dockerfiles/ui.dockerfile
Due: build-ui

Update httpd/api/ui versions (nuxt-4)
  docker-compose.yaml
Due: none

Update httpd version
  docker-compose.yaml
Due: none

fix perl error in uwm to datacite mapping
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
Due: build-api-dist

Fix reading cookies on terms of use page
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui
