Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Change Add checksum to Add file checksum
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

Update api version
  docker-compose.yaml
Due: none

Fix IR user name fetch
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
Due: build-api-dist

Correct German translation in checksum labels
  src/phaidra-ui/locales/deu.json
Due: build-ui

Adjust varnish cache and add memory limits to env
  configs/varnish.vcl
  docker-compose.yaml
Due: none

Fix WebSockets support in varnish
  configs/varnish.vcl
Due: none

compose: don't expose camel toolbox, only used internally
  docker-compose.yaml
Due: none

Only set the issued field on the series if title exist
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

rdau:P60193 date only when title is present
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

remove ita translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

available language implementation
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/components/display/PDLabeledValue.vue
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/eng.json
  src/phaidra-vue-components/src/i18n/ita.json
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

add more alternative mime types to submit form
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

removed whitespaces
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

add alternative mime types for BMP and AVI formats to submit form
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

sort with local i18n
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-vue-components/src/components/info/PMetadataFieldsHelp.vue
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

a11y filter reset
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

make v-simple-table vuetify component available in runtime templates
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

reset subject field value on duplicate
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PISubjectBk.vue
Due: build-ui

changed agent name in api
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Viewer360.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Viewer360.pm
  src/phaidra-api/templates/360viewer/viewer.html.ep
Due: build-api-dist

added dcterms_created_edtf to managed schema
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
  src/phaidra-api/migrations/v3.4.0/06_add_solr_copyfields.pl
Due: build-api-dist, build-solr-dist

phaidra pages core copy individual fields into _text_
  container_init/solr/phaidra_pages_core/conf/managed-schema
Due: build-solr-dist

Update solr/api/ui versions
  docker-compose.yaml
Due: none

limit varnish memory when passing larger objects, and increase send_timeout
  docker-compose.yaml
Due: none

Add forgotten build to ui dev image
  dockerfiles/ui-dev.dockerfile
Due: none

Remove pm2 from ui-dev
  docker-compose.yaml
  dockerfiles/ui-dev.dockerfile
Due: none

Update grafana/loki Docker tag to v3.6.4
  docker-compose.yaml
  dockerfiles/loki-dist.dockerfile
  k8s/helm/templates/loki-deployment.yaml
Due: build-loki-dist, helm-package

Update grafana/grafana Docker tag to v11.6.9
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
  k8s/helm/templates/grafana-deployment.yaml
Due: build-grafana-dist, helm-package

Update grafana/grafana Docker tag to v12
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
  k8s/helm/templates/grafana-deployment.yaml
Due: build-grafana-dist, helm-package

api: make worker count configurable
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist

Minor fixes to README
  README.md
Due: none

minor typos in README
  README.md
Due: none

fixed italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

more italian translation fixes
  src/phaidra-ui/locales/ita.json
Due: build-ui

added italian translation of schema:availableLanguage metadata field label
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix typo in italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

added italian translation of a label
  src/phaidra-ui/locales/ita.json
Due: build-ui

added some italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

typo
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

fix italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui
