Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Redirect requests for unrecognized HTTPS hostnames to the canonical host
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

removed override of default row density
  src/phaidra-ui/components/Credits.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-ui/plugins/vuetify.js
Due: build-ui

fixed uwmetadata author spacing
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Make cache of CORS response vary on origin
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

moved dc format from detail card to content card
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

Refactored agent-libvips to talk to MongoDB directly
  k8s/helm/templates/agent-libvips-configmap.yaml
  src/agents/libvips/agent-libvips.pl
  src/agents/libvips/agent-libvips_conf.yml
  src/agents/libvips/perl_modules/PAF/Activity.pm
  src/agents/libvips/perl_modules/PAF/Events.pm
  src/agents/libvips/perl_modules/PAF/JobQueue.pm
  src/agents/libvips/perl_modules/Util/Barcode.pm
  src/agents/libvips/perl_modules/Util/Data_Listing.pm
  src/agents/libvips/perl_modules/Util/Filesystems.pm
  src/agents/libvips/perl_modules/Util/HTML/img.pm
  src/agents/libvips/perl_modules/Util/HTML/toc.pm
  src/agents/libvips/perl_modules/Util/JSON.pm
  src/agents/libvips/perl_modules/Util/JSON_Debug.pm
  src/agents/libvips/perl_modules/Util/LibXML.pm
  src/agents/libvips/perl_modules/Util/Linux_lvm.pm
  src/agents/libvips/perl_modules/Util/Mail/Processor.pm
  src/agents/libvips/perl_modules/Util/Matrix.pm
  src/agents/libvips/perl_modules/Util/MongoDB.pm
  src/agents/libvips/perl_modules/Util/Monitoring.pm
  src/agents/libvips/perl_modules/Util/Processes.pm
  src/agents/libvips/perl_modules/Util/Simple_CSV.pm
  src/agents/libvips/perl_modules/Util/XML/File.pm
  src/agents/libvips/perl_modules/Util/XML_Parser_Tree.pm
  src/agents/libvips/perl_modules/Util/event_log.pm
  src/agents/libvips/perl_modules/Util/gg1.pm
  src/agents/libvips/perl_modules/Util/hexdump.pm
  src/agents/libvips/perl_modules/Util/ts.pm
  src/agents/libvips/perl_modules/Util/tsv.pm
Due: helm-package

book viewer image tool enable by default
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/stores/root.js
Due: build-api-dist, build-ui

lint fix
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

moved mirador build to build folder
  .gitlab-ci.yml
  build/mirador-build/.gitignore
  build/mirador-build/package-lock.json
  build/mirador-build/package.json
  build/mirador-build/src/index.js
  build/mirador-build/webpack/webpack.config.js
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

mirador image tool integration
  .gitlab-ci.yml
  dockerfiles/api-base.dockerfile
  src/mirador-build/.gitignore
  src/mirador-build/package-lock.json
  src/mirador-build/package.json
  src/mirador-build/src/index.js
  src/mirador-build/webpack/webpack.config.js
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/bookviewer.html.ep
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/stores/root.js
Due: build-api-base, build-api-dist, build-ui

Fix lint error
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Remove unused code
  src/agents/libvips/agent-libvips.pl
Due: none

Remove deprecated README
  src/phaidra-ui/README.md
Due: build-ui

Update libvips/api/ui image version
  docker-compose.yaml
Due: none

Avoid redirect loop in httpd conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Update httpd-shib / httpd-ssl image version
  docker-compose.yaml
Due: none

Fix syntax error in Object controller
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Update api image version
  docker-compose.yaml
Due: none

grafana landing page change to /dashboards
  docker-compose.yaml
Due: none

Add confirmation dialog and success snack to password reset
  src/phaidra-ui/components/admin/AdminUsers.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
Due: build-ui
