Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-pdf-extraction, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

api version
  docker-compose.yaml
Due: none

add sort to some vige commands to support migrated collections
  src/vige/vige_cleaner.bash
  src/vige/vige_uploader.bash
Due: build-vige-dist

vige version
  docker-compose.yaml
Due: none

fedora version
  docker-compose.yaml
Due: none

remove oaitest and apply the changes to oai
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
  src/phaidra-api/PhaidraAPI/Controller/Oaitest.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
Due: build-api-dist

fix oai controller package
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
Due: build-api-dist

allow shib login if required affiliations are not defined
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

log how long upload and transaction take
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

log how long upload and transaction take
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

support fcrepo 7.x compacted json-ld output
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

do not check affiliations if no required affiliations are defined
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

Remove logging ocfl size, we use Fedora DB now
  container_init/chronos/original-perl/logStorageSize.pl
Due: build-chronos-dist

chronos version
  docker-compose.yaml
Due: none

added code to include search of other objects along with book in fulltext search
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

fixed search issue caused by full text search
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Make title of see-also field optional
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

Update chronos version
  docker-compose.yaml
Due: none

Names entry-point scripts consistently; removes unused ones
  container_init/httpd/phaidra-demo/httpd-demo-entrypoint.bash
  container_init/httpd/phaidra-keycloak/httpd-keycloak-entrypoint.bash
  container_init/httpd/phaidra-shib/httpd-shib-startup.bash
  container_init/httpd/phaidra-ssl/httpd-ssl-startup.bash
Due: none

Names entry-point scripts consistently; removes unused ones
  docker-compose.yaml
Due: none

Make httpd configurable via envs
  configs/httpd_custom.conf
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  docker-compose.yaml
Due: build-httpd-ssl-dist

Removes httpd_custom from includes in demo profiles
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
Due: build-httpd-demo-dist

Adds httpd envs to httpd profiles only where those are needed
  docker-compose.yaml
Due: none

Adds missing envs to -dev profiles
  docker-compose.yaml
Due: none

Reduces env references in compose file
  docker-compose.yaml
Due: none

Adds httpd config customization to shib entrypoint too
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
Due: build-httpd-shib-dist
