Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Used VRow density=default for relationship preview spacing.
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

Restore Credits list spacing with VRow density=default.
  src/phaidra-ui/components/Credits.vue
Due: build-ui

hydrate admin i18n overrides without SSR/client mismatch
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/plugins/i18n.js
  src/phaidra-ui/store/index.js
  src/phaidra-ui/utils/i18n-overrides.js
Due: build-ui

Removed the invalid definePageMeta from the component
  src/phaidra-ui/components/Submit.vue
Due: build-ui

Render accession/call numbers with p-d-lang-value.
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

Use Vuetify 4 text-label-medium text-uppercase for section titles.
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/components/legacy/PDModsRec.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Pre-bundle dependencies to avoid page reloads
  src/phaidra-ui/nuxt.config.js
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

Update CI to build ui-nuxt2 images
  .gitlab-ci.yml
Due: none

fix perl error in uwm to datacite mapping
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
Due: build-api-dist

Add forgotten variable to CI
  .gitlab-ci.yml
Due: none

Add building api image for v3.4.0
  .gitlab-ci.yml
Due: none

Fix that variable image name was not used
  .gitlab-ci.yml
Due: none

Remover remote user check
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Bump fcrepo to 7.0.0-tomcat10
  docker-compose.yaml
Due: none

cookie banner client only
  src/phaidra-ui/layouts/default.vue
Due: build-ui

default extended role list fix
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
Due: build-ui

Fix empty detail page when navigating
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

default extended role list fix
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

icon alignment fix
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

nested cols and rows fix
  src/phaidra-vue-components/src/components/display/PDDate.vue
Due: build-ui

cite label margin issue fix
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

veu route issue resolved
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

Add collectionlink (forgotten git mv)
  src/phaidra-ui/components/dashboard/Collectionlink.vue
Due: build-ui

Fix CMS homepage components not resolving after Nuxt 4 upgrade
  src/phaidra-ui/components/Runtimetemplate.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/plugins/vuetify-runtime-components.js
  src/phaidra-ui/utils/cms-local-components.js
Due: build-ui

Adjust Searchlink -> Collectionlink and Latestpreview params to match Search logic
  src/phaidra-ui/components/dashboard/Latestpreview.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/dashboard/Searchlink.vue
Due: build-ui

cms_css on cms_css for SSR and removed client dom injection
  src/phaidra-ui/layouts/default.vue
Due: build-ui

gap between firstname and lastname
  src/phaidra-vue-components/src/components/display/PDAdaptation.vue
  src/phaidra-vue-components/src/components/display/PDContainedIn.vue
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

fix See also metadata crash on detail page
  src/phaidra-vue-components/src/components/display/PDSeeAlso.vue
Due: build-ui

loop and condtion fix
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDStudyPlan.vue
Due: build-ui

label and id props onto the Author comboboxes
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

Orgunit affiliation selection fix
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

replace package-lock with pnpm-lock.yaml
  docker-compose.yaml
  dockerfiles/ui-dev.dockerfile
  dockerfiles/ui.dockerfile
  src/phaidra-ui/package-lock.json
  src/phaidra-ui/package.json
  src/phaidra-ui/pnpm-lock.yaml
  src/phaidra-vue-components/package-lock.json
  src/phaidra-vue-components/package.json
  src/phaidra-vue-components/pnpm-lock.yaml
Due: build-ui
