Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

Add pure endpoint and api-key to admin config
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

Run ui in cluster mode
  docker-compose.yaml
  dockerfiles/ui-dev.dockerfile
  dockerfiles/ui.dockerfile
  src/phaidra-ui/ecosystem.config.js
  src/phaidra-ui/nuxt.config.js
Due: build-ui

Update api/ui version
  docker-compose.yaml
Due: none

Reduce ui instances to 2
  src/phaidra-ui/ecosystem.config.js
Due: build-ui

Adjust rate limiting for pfsa
  configs/httpd_custom.conf
Due: none

Add caching of UI and API static assets, allow server-status for admin IPs
  configs/varnish.vcl
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Update httpd/ui version
  docker-compose.yaml
Due: none

Add /api to the robotstxt proxy
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

remove istic from doi citation formatter credits
  src/phaidra-ui/components/Credits.vue
Due: build-ui

typo
  src/phaidra-ui/components/Credits.vue
Due: build-ui

make label translatable
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

Add pfsa redirect possibility
  configs/httpd_custom.conf
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  docker-compose.yaml
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Fix handling of irbaseurl
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/store/index.js
Due: build-ui

Avoid creating tika job if object is not active
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

Update httpd/api/ui version
  docker-compose.yaml
Due: none

Fix env name
  configs/httpd_custom.conf
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  docker-compose.yaml
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Update httpd version
  docker-compose.yaml
Due: none

Add missing proxy exception to httpd config
  configs/httpd_custom.conf
Due: none

funder alignment issue fix
  src/phaidra-vue-components/src/components/display/PDProject.vue
Due: build-ui

Remove notice at the end of migration script
  scripts/migrations/v3.4.0/01_migrate_volumes.sh
Due: none

Add phaidra_pages core to the solr migration script
  src/phaidra-api/migrations/v3.3.17/06_add_solr_fields.pl
Due: build-api-dist

Added timestamp to Solr backup location and Added Solr backup cleanup
  container_init/chronos/database-dump-cleaner.bash
  container_init/chronos/solr-phaidra.bash
Due: build-chronos-dist

funder alignment issue and href issue resolved
  src/phaidra-vue-components/src/components/display/PDFunder.vue
Due: build-ui

weight unit issue resolved
  src/phaidra-vue-components/src/components/input/PIDimension.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

add link for iso8601 date and time format on help page
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

deathdate dont show if birthdate is not inserted
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

birth and death date format in detail page
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

role extend field reset on duplicate
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

add image/bmp to allowed mime types for image object
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

add video/vnd.avi to allowed mime types for video object
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

external lic url - uwmetadata
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

language reset for temporal coverage and Inscription metadata fields
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

Update chronos/ui versions
  docker-compose.yaml
Due: none

Change mongo index creation syntax
  container_init/mongodb/mongodb-after-entry.sh
Due: build-mongodb-dist

Update mongodb version
  docker-compose.yaml
Due: none

Fix rate-limit settings in httpd-shib
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-ssl-dist

Update httpd-ssl version
  docker-compose.yaml
Due: none

Add more indexes to mongodb jobs collection
  src/phaidra-api/migrations/v3.4.0/07_add_jobs_indexes.pl
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Fix Pure config, remove IR stats, change fetching of user data in IR
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
