Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

Dockerized the replayweb library (version: 2.4.4)
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/replayweb/sw.js
  src/phaidra-api/public/replayweb/ui.js
Due: build-api-base, build-api-dist

Dockerized the threejs library (version: r128)
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/threejs/build/GLTFLoader.js
  src/phaidra-api/public/threejs/build/OrbitControls.js
  src/phaidra-api/public/threejs/build/three.min.js
Due: build-api-base, build-api-dist

Changed: renovate.json tracks threejs also now
  renovate.json
Due: none

Dockerized the roboto fonts (version: 3.015)
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/fonts/roboto/roboto-300.ttf
  src/phaidra-api/public/fonts/roboto/roboto-400.ttf
  src/phaidra-api/public/fonts/roboto/roboto-500.ttf
Due: build-api-base, build-api-dist

Tweaked renovate.json for roboto so renovate can bump v3.015
  renovate.json
Due: none

remove pdfjs from compose ignore. pdfjs was removed as vendored dependency
  docker-compose.yaml
Due: none

Modified renovate.json, it tracks the dockerized libraries for updates
  renovate.json
Due: none

Organizational unit label instead of admin org name
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

Remove paper abstracts from OAI-PMH metadata formats for IR objects
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Lom.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
Due: build-api-dist

Add /favicon.ico redirect to /static/favicon.ico in Apache
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Build ui-nuxt4 image again
  .gitlab-ci.yml
Due: none

Revert "cookie removed for locale and theme using localstorage instead"
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/pages/termsofuse.vue
  src/phaidra-ui/plugins/locale-persistence.js
  src/phaidra-ui/vuetify.options.js
Due: build-ui

default locale flash on first paint fixed by implementing cookie for locale
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/plugins/locale-persistence.js
Due: build-ui

locale persistence
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/plugins/locale-persistence.js
Due: build-ui

adjust italian translation of keywords metadata field label
  src/phaidra-ui/locales/ita.json
Due: build-ui

Fix Mirador OCR search remaining hit count
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/templates/utils/bookviewer.html.ep
Due: build-api-dist

bookviewer more result page numbers
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/templates/utils/bookviewer.html.ep
Due: build-api-dist

lint fix
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Add /stats/myobjects call to get stats for all owner's objects
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Stats.pm
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
Due: build-api-dist

Restored cmsTemplates for collection
  src/phaidra-ui/mixins/cmsTemplates.js
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

removed cms template mixins from home page and collection
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/mixins/cmsTemplates.js
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

upload date label change
  src/phaidra-vue-components/src/components/search/facets.js
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

Add "Upload date" label to German and Italian locale files
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
Due: build-ui

Moved Query Count Reports above Storage Information in both daily report email templates
  src/phaidra-api/templates/reporting/email.html.tt
  src/phaidra-api/templates/reporting/email.txt.tt
Due: build-api-dist

Raise proxy timeout in Apache to support larger uploads
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Configure different timeouts for POST/PUT/PATCH
  configs/varnish.vcl
Due: none

Raise heartbeat timeout in API to support larger uploads
  src/phaidra-api/PhaidraAPI.conf
Due: build-api-dist

log level config from admin page
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

lint fix
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

ac number identifier logic changed to avoid bare AC* identifier as one
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mods/Extraction.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Extraction.pm
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

removed unwanted comment
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Extraction.pm
Due: build-api-dist

seo description on detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

ita translation for ac number label
  src/phaidra-ui/locales/ita.json
Due: build-ui

Fix UWMETADATA description order by preserving parent field_order on clone
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

Normalize PID identifier URLs before saving
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

Parent selection disable Fix in other components affiliation selection
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

submitrelated Parent org units blocked as per admin option
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
