Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-pdf-extraction, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

k8s: httpd: restrict whole site access to ADMIN_IP remove after development or add as config option
  k8s/helm/templates/httpd-configmap.yaml
Due: none

k8s: add limits to deployment. values found by trial&error and erring on the low side. most likely need to be increased for production deployment
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/chronos-deployment.yaml
  k8s/helm/templates/dbgate-deployment.yaml
  k8s/helm/templates/fedora-deployment.yaml
  k8s/helm/templates/grafana-deployment.yaml
  k8s/helm/templates/httpd-deployment.yaml
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/lam-deployment.yaml
  k8s/helm/templates/loki-deployment.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/templates/openldap-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/templates/solr-deployment.yaml
  k8s/helm/templates/ui-deployment.yaml
Due: none

k8s: build ldapaccountmanager in openshift registry
  dockerfiles/lam.dockerfile
  k8s/helm/templates/imagestreams.yaml
  k8s/helm/templates/lam-buildconfig.yaml
  k8s/helm/templates/lam-deployment.yaml
  k8s/helm/templates/lam-service.yaml
Due: none

k8s: move cache folder to tmp to avoid error
  k8s/helm/templates/ui-deployment.yaml
Due: none

k8s: update phaidraorg images
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/chronos-deployment.yaml
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/templates/ui-deployment.yaml
Due: none

k8s: move passwords etc. to phaidra-access secret
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/chronos-deployment.yaml
  k8s/helm/templates/dbgate-deployment.yaml
  k8s/helm/templates/fedora-deployment.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/templates/openldap-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/templates/solr-deployment.yaml
  k8s/helm/values.yaml
Due: none

k8s: fix chronos sitemaps access mode
  k8s/helm/templates/chronos-sitemaps-persistentvolumeclaim.yaml
  k8s/helm/templates/httpd-deployment.yaml
Due: none

2/2 k8s: remove promtail annotation from deployments
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/chronos-deployment.yaml
  k8s/helm/templates/dbgate-deployment.yaml
  k8s/helm/templates/fedora-deployment.yaml
  k8s/helm/templates/httpd-deployment.yaml
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/lam-deployment.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/templates/openldap-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/templates/solr-deployment.yaml
  k8s/helm/templates/ui-deployment.yaml
Due: none

k8s: add cert-manager LetsEncrypt issuers
  k8s/helm/templates/issuer-letsencrypt.yaml
Due: none

k8s: run apache2 as user, openshift prohibits root. required change to fedora image and use of 8080 port
  k8s/helm/templates/httpd-configmap.yaml
  k8s/helm/templates/httpd-deployment.yaml
  k8s/helm/templates/httpd-service.yaml
Due: none

compose: add imageserver-local-dev instance in preperation for switch to iipsrv image
  docker-compose.yaml
Due: none

1/2 k8s: remove promtail files
  k8s/helm/templates/promtail-configmap.yaml
  k8s/helm/templates/promtail-daemonset.yaml
  k8s/helm/templates/promtail-role.yaml
  k8s/helm/templates/promtail-rolebinding.yaml
  k8s/helm/templates/promtail-serviceaccount.yaml
Due: none

k8s: phaidra-access secret not immutable
  k8s/helm/templates/phaidra-access.yaml
Due: none

k8s: add cameltoolbox
  k8s/helm/templates/cameltoolbox-configmap.yaml
  k8s/helm/templates/cameltoolbox-deployment.yaml
  k8s/helm/templates/cameltoolbox-service.yaml
Due: none

k8s: fcrepo waits for mariadb to be up before starting
  k8s/helm/templates/fedora-deployment.yaml
Due: none

k8s: use phaidraorg docker images and update to latest version
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/chronos-deployment.yaml
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/templates/openldap-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/templates/solr-deployment.yaml
  k8s/helm/templates/ui-deployment.yaml
Due: none

k8s: fix dbgate failing to start
  k8s/helm/templates/dbgate-deployment.yaml
Due: none

k8s/fedora: use right passwords
  k8s/helm/templates/fedora-deployment.yaml
Due: none

CI: fix auto push to gitlab helm repo. use curl instead of helm plugin
  .gitlab-ci.yml
Due: none

CI: configure renovate for kubernetes files
  renovate.json
Due: none

CI: fix helm-package always running
  .gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/ldapaccountmanager/lam docker tag to v9.3
  docker-compose.yaml
  dockerfiles/lam.dockerfile
Due: none

chore(deps): update mariadb docker tag to v11.3.2
  docker-compose.yaml
  dockerfiles/mariadb-phaidra-dist.dockerfile
Due: build-mariadb-phaidra-dist

chore(deps): update grafana/grafana docker tag to v11.6.7
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
Due: build-grafana-dist

chore(deps): update prom/node-exporter docker tag to v1.10.2
  docker-compose.yaml
Due: none

indicating user when book search limit in full text search is filled
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

full word search for ocr search
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

searching distinct book with matching pages extracted_text
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

multiple text in same page search fix
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

iiif manifest search service pagination intgration
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

extracting text from OCRTEXT datastream, added translation, changed function name
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

before and after text for search
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

add ispartof to the pages while adding books page relationship
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

full text search ocr with alto
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

Search result remaining empty translation
  src/phaidra-api/templates/utils/bookviewer.html.ep
Due: build-api-dist

full text search find books which page contains the keyword
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

resource type translation detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

allow language reset in Accession number and Shelf mark metadata fields
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

remove open-on-hover behaviour from all metadata field menu
  src/phaidra-vue-components/src/components/input/PIAlternateIdentifier.vue
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PICitation.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdmtimespan.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PIDimension.vue
  src/phaidra-vue-components/src/components/input/PIDuration.vue
  src/phaidra-vue-components/src/components/input/PIEntity.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIFile.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIFunder.vue
  src/phaidra-vue-components/src/components/input/PIInstanceOf.vue
  src/phaidra-vue-components/src/components/input/PILiteral.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISelect.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/input/PISpatialReadonly.vue
  src/phaidra-vue-components/src/components/input/PIStudyPlan.vue
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
  src/phaidra-vue-components/src/components/input/PISubjectBk.vue
  src/phaidra-vue-components/src/components/input/PISubjectGnd.vue
  src/phaidra-vue-components/src/components/input/PISubjectOefos.vue
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
  src/phaidra-vue-components/src/components/input/PIUnknown.vue
  src/phaidra-vue-components/src/components/input/PIVocabExtReadonly.vue
  src/phaidra-vue-components/src/components/select/RorSearch.vue
Due: build-ui

remove open-on-hover ui behaviour from PIAdaption metadata field menu
  src/phaidra-vue-components/src/components/input/PIAdaptation.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
