Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

fedora dashboard "from" time set to "now-24h"
  container_init/grafana/dashboards/fedora-dashboard.json
Due: build-grafana-dist

fix apache dashboard
  container_init/grafana/dashboards/apache-dashboard.json
Due: build-grafana-dist

varnish dashboard "from" time set to "now-24h"
  container_init/grafana/dashboards/varnish-dashboard.json
Due: build-grafana-dist

cleanup varnish monitoring
  docker-compose.yaml
Due: none

whitespace cleanup
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
Due: build-grafana-dist

Edit CHANGELOG.md
  CHANGELOG.md
Due: none

Update prometheus/grafana image version
  docker-compose.yaml
Due: none

Remove "Dashboard" from dashboard name
  container_init/grafana/dashboards/apache-dashboard.json
  container_init/grafana/dashboards/fedora-dashboard.json
  container_init/grafana/dashboards/phaidra-api-dashboard.json
Due: build-grafana-dist

Remove phaidra default dashboard and make presets the default
  container_init/grafana/dashboards/phaidra_default.json
  container_init/grafana/dd.yaml
Due: build-grafana-dist

Make presets the landing page
  docker-compose.yaml
Due: none

Add opencastfetch agent
  docker-compose.yaml
  src/agents/opencast/controller.bash
  src/agents/opencast/fetcher.bash
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
  src/phaidra-api/templates/email/inactive_activated.html.tt
  src/phaidra-api/templates/email/inactive_activated.txt.tt
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  website/docs/submit-deep-links.md
Due: build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Fix opencast dev profile and add initial_sync to api
  docker-compose.yaml
Due: none

Fix the workflow so that opencast job is not created twice
  src/agents/opencast/fetcher.bash
  src/agents/opencast/uploader.bash
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

Change sort in fetcher to latest first
  src/agents/opencast/fetcher.bash
Due: none

Fix linting errors
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
Due: build-api-dist

Update agent opencast image version
  docker-compose.yaml
Due: none

mimetype required on api
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

lint fix
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
Due: build-api-dist

Fixed the on-the-fly JSON-LD @context for role terms.
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
Due: build-api-dist

Fix hanging metadata requests for deleted objects
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

RDF Schema namespace URI for rdfs JSON-LD prefix
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  website/docs/metadata.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

info banner schedule
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/stores/root.js
Due: build-ui

Fall back to English for missing UW classification labels.
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

duplicating Contribution section data loss fix
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

uwmetadata duration format change
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Open in new window button for container members
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

Rename Role to Role (Contribution) and list an empty role as incomplete only
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

Fix CMS templates remaining after Admin fields are cleared
  src/phaidra-ui/stores/root.js
Due: build-ui

Adding same collection inside a collection restricted both UI and api level
  src/phaidra-api/PhaidraAPI/Controller/Collection.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-api-dist, build-ui

Update api/ui image versions
  docker-compose.yaml
Due: none

fix link to pvc vocabulary store
  website/docs/vocabularies.md
Due: build-website-push-staging, build-website-push-final

Add log when mimetype is missing on upload
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Update authorization policies and tests for rights management users
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
Due: none

Fix lint errors
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/Users.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  src/phaidra-api/PhaidraAPI/Model/Users.pm
  src/phaidra-api/migrations/v3.5.0/02_add_users_groups.pl
Due: build-api-dist

Fix lint errors
  src/phaidra-api/PhaidraAPI/Model/Users.pm
Due: build-api-dist

Add user management
  CHANGELOG.md
  container_init/mariadb/phaidradb/phaidradb.sql.gz
  dockerfiles/api-base.dockerfile
  policies/phaidra/authz/siteadmin.rego
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Controller/Users.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  src/phaidra-api/PhaidraAPI/Model/Users.pm
  src/phaidra-api/migrations/v3.5.0/02_add_users_groups.pl
  src/phaidra-api/public/docs/openapi.json
  src/phaidra-api/templates/email/feedback.html.tt
  src/phaidra-api/templates/email/feedback.txt.tt
  src/phaidra-api/templates/email/password-reset-subject.txt
  src/phaidra-api/templates/email/password-reset.html.tt
  src/phaidra-api/templates/email/password-reset.txt.tt
  src/phaidra-api/templates/email/reporting.html.tt
  src/phaidra-api/templates/email/reporting.txt.tt
  src/phaidra-ui/components/admin/AdminUsers.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/middleware/admin.js
  src/phaidra-ui/mixins/context.js
  src/phaidra-ui/mixins/submitDeepLink.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/forgot-password.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/nossologin.vue
  src/phaidra-ui/pages/password-reset.vue
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
Due: build-api-base, build-api-dist, build-ui, build-mariadb-phaidra-dist

Add hover interaction for SoundCloud and Spotify icons
  website/assets/css/landing-page.css
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

Add a section about LXC
  README.md
Due: none

add instructions to add "userland-proxy": false to .config/docker/daemon.json
  README.md
Due: none

Force Roboto font-family everywhere
  mkdocs.yml
  website/assets/css/tweaks.css
Due: build-website-push-staging, build-website-push-final
