Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

fix italian translation for vra:placeOfSite
  src/phaidra-ui/locales/ita.json
Due: build-ui

typo
  src/phaidra-ui/locales/ita.json
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

Fix handle keys mount
  docker-compose.yaml
Due: none

varnish: use dynamic backends
  configs/varnish.vcl
Due: none

adjust margins of submit form buttons
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

Avoid caching HMR
  configs/varnish.vcl
Due: none

chore(deps): update mariadb docker tag to v10.11
  docker-compose.yaml
  dockerfiles/mariadb-fedora-dist.dockerfile
Due: build-mariadb-fedora-dist

Allowing autoupgrade since the update requires MariaDB to update it's internal tables
  docker-compose.yaml
Due: none

Update mariadb-fedora-dist, ui versions
  docker-compose.yaml
Due: none

chore(deps): update solr docker tag to v9.10.1
  docker-compose.yaml
  dockerfiles/solr-dist.dockerfile
Due: build-solr-dist

Remove uneeded libs from solr config
  container_init/solr/phaidra_core/conf/solrconfig.xml
  container_init/solr/phaidra_pages_core/conf/solrconfig.xml
Due: build-solr-dist

Add migration script for solr config
  scripts/migrations/v3.4.0/02_update_solr_config.sh
Due: none

Add migration script note to CHANGELOG
  CHANGELOG.md
Due: none

Add PROJECT env to migration script
  scripts/migrations/v3.4.0/02_update_solr_config.sh
Due: none

WIP: test macvlan network
  docker-compose.yaml
Due: none

WIP: macvlan add http to external network
  docker-compose.yaml
Due: none

fix apostrophe character in italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

language handle on add metadata fields
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

removed loader from breadcrumbs, added explicit dimensions to iframes in detail page
  src/phaidra-ui/components/PBreadcrumbs.vue
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

is contained in page start end hide
  docker-compose.yaml
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

revereted accidentally removed code
  docker-compose.yaml
Due: none

removed multilingual for production place
  src/phaidra-vue-components/src/components/input/PIEntity.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

series type missing issue fix
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Resource Link submit form section title label translatable.
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/submit/upload.vue
Due: build-ui

removed md5 related implementation from detail page and api
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Inventory.pm
  src/phaidra-api/public/docs/openapi.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

chore(deps): update grafana/grafana docker tag to v12.3.2
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
  k8s/helm/templates/grafana-deployment.yaml
Due: build-grafana-dist, helm-package

chore(deps): update grafana/promtail docker tag to v3.6.4
  docker-compose.yaml
  dockerfiles/promtail-dist.dockerfile
Due: build-promtail-dist

Update promtail/grafana/solr/api/ui version
  docker-compose.yaml
Due: none

chore(deps): update httpd docker tag to v2.4.66
  docker-compose.yaml
  dockerfiles/httpd-demo-dist.dockerfile
  dockerfiles/httpd-shib-base.dockerfile
  dockerfiles/httpd-ssl-dist.dockerfile
Due: build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Update httpd version
  docker-compose.yaml
Due: none

validaiton message translation
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/input/PIAssociationText.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PICitation.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIKeyword.vue
  src/phaidra-vue-components/src/components/input/PISelect.vue
  src/phaidra-vue-components/src/components/input/PISelectText.vue
  src/phaidra-vue-components/src/components/input/PISpatialText.vue
  src/phaidra-vue-components/src/components/input/PIStudyPlan.vue
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
  src/phaidra-vue-components/src/components/input/PISubjectOefos.vue
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
  src/phaidra-vue-components/src/components/input/PITextField.vue
  src/phaidra-vue-components/src/components/input/PITextFieldSuggest.vue
  src/phaidra-vue-components/src/mixins/validationrules.js
Due: build-ui

Edit CHANGELOG.md
  CHANGELOG.md
Due: none

Describe solr migration better
  CHANGELOG.md
Due: none

Add migration script comments
  scripts/migrations/v3.4.0/01_migrate_volumes.sh
  scripts/migrations/v3.4.0/02_update_solr_config.sh
Due: none

ISBN removed for contained in, ISSN display fix
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/mixins/vocabulary.js
Due: build-ui

preview only for 3d type when mimetype is zip
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

usage stat - on empty stat
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui
