Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

Add indexBook util script
  src/phaidra-api/utils/indexBook.pl
Due: build-api-dist

Change indexBook script to load members from relatioships
  src/phaidra-api/utils/indexBook.pl
Due: build-api-dist

add log info of migration start
  src/phaidra-api/migrations/v3.5.0/02_add_users_groups.pl
Due: build-api-dist

lint
  src/phaidra-api/migrations/v3.5.0/02_add_users_groups.pl
Due: build-api-dist

Fix OAI deleted object check
  container_init/chronos/original-perl/updateOai.pl
Due: build-chronos-dist

Fix OAI deleted object update
  container_init/chronos/original-perl/updateOai.pl
Due: build-chronos-dist

adjust v-container padding on some pages
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/inactive-objects.vue
  src/phaidra-ui/pages/submit/custom/[templateid].vue
  src/phaidra-ui/pages/submit/upload.vue
Due: build-ui

v-container padding fix
  src/phaidra-ui/layouts/default.vue
Due: build-ui

import mdi icons used by phaidra unipd
  src/phaidra-ui/icons/mdi-svg.js
Due: build-ui

Added oefos2012 to the JSON-LD namespaces
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  website/docs/metadata.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Fix page init broken by script-setup definePageMeta closed proxy
  src/phaidra-ui/pages/delete/[pid].vue
  src/phaidra-ui/pages/metadata/[pid]/edit.vue
  src/phaidra-ui/pages/relationships/[pid].vue
  src/phaidra-ui/pages/rights/[pid].vue
  src/phaidra-ui/pages/sort/[pid].vue
  src/phaidra-ui/pages/sorttextinput/[pid].vue
  src/phaidra-ui/pages/submit/custom/[templateid].vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submit/uwm/[cmodel].vue
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
Due: build-ui

email template from admin ui set
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-api/PhaidraAPI/Controller/Users.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/EmailTemplate.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

Fix redirect condition
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

Update api/ui image version
  docker-compose.yaml
Due: none

Mark Containers als IMAGE in EDM
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Set thumbnail size in EDM to 600
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

added the obsolete warning under the Subject (BIC) field in the edit form
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
Due: build-ui

If COLLECTIONORDER exists append new members after the last ordered position
  src/phaidra-api/PhaidraAPI/Controller/Collection.pm
Due: build-api-dist

state endpoint updated 410 for Deleted and 403 for Inactive
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/public/docs/openapi.json
Due: build-api-dist

Revert "video js player for audio"
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/audioplayer.html.ep
  src/phaidra-api/templates/utils/videoplayer.html.ep
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-api-dist, build-ui

video js player for audio
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/audioplayer.html.ep
  src/phaidra-api/templates/utils/videoplayer.html.ep
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-api-dist, build-ui

only audio mode on video js for audio object
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/audioplayer.html.ep
  src/phaidra-api/templates/utils/videoplayer.html.ep
Due: build-api-dist

In authn, use attributes from sources which provide them
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

Add a script to pre-fill users table from userterms
  CHANGELOG.md
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/migrations/v3.5.0/04_copy_userterms_users_to_users.pl
  website/docs/user-management.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Fix lint errors
  src/phaidra-api/migrations/v3.5.0/04_copy_userterms_users_to_users.pl
Due: build-api-dist

Continue authn if account does not have a local password
  src/phaidra-api/PhaidraAPI/Model/Directory.pm
Due: build-api-dist

Update api image version
  docker-compose.yaml
Due: none

Sort users by last login
  src/phaidra-ui/components/admin/AdminUsers.vue
Due: build-ui

remove default no text transform from vuetify buttons
  src/phaidra-ui/layouts/default.vue
Due: build-ui

Update ui image version
  docker-compose.yaml
Due: none

By default do not save user attributes
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

Update api/ui image versions
  docker-compose.yaml
Due: none

Update chronos image version
  docker-compose.yaml
Due: none

Make user search component search in remote users too
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

Make canmodifyownerid a role instead of config
  policies/README.md
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/change_owner_test.rego
  policies/phaidra/authz/upload.rego
  policies/phaidra/config/data.json
  src/phaidra-api/PhaidraAPI.conf
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  website/docs/authorization.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Fix lint errors
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
Due: build-api-dist
