Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

role identifier clear issue resolved
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

z index on map container
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
Due: build-ui

mandatory marking in related object upload
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

condition check on id
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

collection thumbnail size change
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

lang on role label removed
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

csp via env
  configs/httpd_custom.conf
  docker-compose.yaml
Due: none

get org units varnish cache
  configs/varnish.vcl
Due: none

Hook now uses HEAD instead of full JSON‑LD
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

tombstone obj handle
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

hook to check object existance in solr with cache mehanism
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

fedora to check object existance
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

title_suggest and title_suggest_ir removed
  CHANGELOG.md
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
  src/phaidra-api/migrations/v3.4.0/08_remove_keyword_suggest.pl
Due: build-api-dist, build-solr-dist

Update api/ui version
  docker-compose.yaml
Due: none

Remove linux/arm platform from CI
  .gitlab-ci.yml
Due: none

citation empty identifier handling
  src/phaidra-vue-components/src/components/display/PDCitation.vue
Due: build-ui

removed test word
  src/phaidra-vue-components/src/components/display/PDCitation.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

fedora head check omit headers
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

remove (some) unused code in phaidra-api
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/public/docs/openapi.json
Due: build-api-dist

italian translation fix
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/locales/ita.json
Due: build-api-dist, build-ui

container orders
  src/phaidra-api/PhaidraAPI/Controller/Membersorder.pm
Due: build-api-dist

uwmetadata association_id indexing same as jsonld
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

removed some comments related to padova
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Update gcr.io/cadvisor/cadvisor Docker tag to v0.55.1
  docker-compose.yaml
Due: none

Make rate limit configurable
  configs/httpd_custom.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  docker-compose.yaml
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Update httpd-shib/httpd-ssl version
  docker-compose.yaml
Due: none

existing COLLECTIONORDER for containers
  src/phaidra-api/PhaidraAPI/Controller/Membersorder.pm
Due: build-api-dist

collection breadcrumb fix
  src/phaidra-ui/pages/collections/_collection.vue
  src/phaidra-ui/store/index.js
Due: build-ui

Add blacklist endpoint to OAI controller
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
  src/phaidra-api/public/docs/openapi.json
Due: build-api-dist

Add edm:object to ore:Aggregation in EDM for thumbnails
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

italian translation fixes
  src/phaidra-ui/locales/ita.json
Due: build-ui

dc identifier
  src/phaidra-api/PhaidraAPI/Controller/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
Due: build-api-dist

add PID-based identifier URL only if there is no dc_identifier at all
  src/phaidra-api/PhaidraAPI/Controller/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
Due: build-api-dist

dc identifier create if not present else add
  src/phaidra-api/PhaidraAPI/Controller/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
Due: build-api-dist

Update api/ui
  docker-compose.yaml
Due: none

Update ubuntu Docker tag to jammy-20260210.1
  dockerfiles/agent-libvips-base.dockerfile
  dockerfiles/agent-opencast-base.dockerfile
  dockerfiles/api-base.dockerfile
  dockerfiles/chronos-base.dockerfile
Due: build-api-base, build-api-dist, build-chronos-base, build-chronos-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
