Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

keyword and subject changes
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/migrations/v3.4.0/08_remove_keyword_suggest.pl
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui, build-solr-dist

Force authn on /info and /metadata if username is provided
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

google font on book viewer made local
  configs/httpd_custom.conf
  src/phaidra-api/public/fonts/roboto/roboto-300.ttf
  src/phaidra-api/public/fonts/roboto/roboto-400.ttf
  src/phaidra-api/public/fonts/roboto/roboto-500.ttf
  src/phaidra-api/public/fonts/roboto/roboto.css
  src/phaidra-api/templates/utils/bookviewer.html.ep
Due: build-api-dist

scheme added
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

generalize labels that refer to openaire
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

full text search include metadata search
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

page start end value fix
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

page start and end hide in is in series
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

search full text alert check for book count
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

edtf validation change
  src/phaidra-api/public/json-schema/jsonld.json
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/mixins/validationrules.js
Due: build-api-dist, build-ui

project header show hide as per section and individual field
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
Due: build-ui

filename removable option
  src/phaidra-vue-components/src/components/input/PIFilename.vue
  src/phaidra-vue-components/src/components/input/PIFilenameReadonly.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

added No data available to all auto complete except for which has hide-no-data prop
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIAdaptation.vue
  src/phaidra-vue-components/src/components/input/PIAlternateIdentifier.vue
  src/phaidra-vue-components/src/components/input/PIAssociationText.vue
  src/phaidra-vue-components/src/components/input/PICitation.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdmtimespan.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PIEntity.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIFunder.vue
  src/phaidra-vue-components/src/components/input/PIInstanceOf.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/input/PISpatialText.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

condition issue on fl
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Translation for user not found and replay web
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/I18N/de.po
  src/phaidra-api/PhaidraAPI/I18N/en.po
  src/phaidra-api/PhaidraAPI/I18N/it.po
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-api/templates/utils/replayweb.html.ep
  src/phaidra-ui/pages/login.vue
Due: build-api-dist, build-ui

update mime types in catalog fetch upload and vocabulary
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

add image/jpx to allowed mime types
  src/phaidra-ui/pages/bulk-upload/upload.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

add missing file formats for bulk upload
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

fix wave mime type pref label
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Add datastreams to fl in redirector since now it is not there by default
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

Add univie streaming server to frame-src
  configs/httpd_custom.conf
Due: none

Update solr/api/ui version
  docker-compose.yaml
Due: none

Optionally authenticate /metadata
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Update api
  docker-compose.yaml
Due: none

Optionally authenticate /info
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

httpd: enable TLS1.2 - was accidentally disabled
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Use iiifmanifest for Containers in EDM
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Add iiifmanifest method to Containers
  src/phaidra-api/PhaidraAPI/Controller/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

Update httpd/api versions
  docker-compose.yaml
Due: none

Add systemtag to search results (needed for phaidra-ir)
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Add owner to search results (needed for phaidra-ir)
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

use skos:notation in association query for uwm support
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

keep querying @id in association facet build
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

fix changelog of v3.3.17 upgrade
  CHANGELOG.md
Due: none

italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui

allow using v-treeview vuetify component in runtime templates
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
