Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-pdf-extraction, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

language check while assigning lang for description
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

collection title breadcrumb update
  src/phaidra-ui/pages/collections/_collection.vue
  src/phaidra-ui/store/index.js
Due: build-ui

disable uploader in object detail
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/store/index.js
Due: build-ui

doi import page dark theme support
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

translatable labels in bulk upload login overlay
  src/phaidra-ui/components/bulk-upload/LoginOverlay.vue
Due: build-ui

removed comment
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
Due: build-httpd-demo-dist

static folder on httpd container
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  docker-compose.yaml
  static/index.html
Due: build-httpd-demo-dist

changed static mount path
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  docker-compose.yaml
  static/index.html
Due: build-httpd-demo-dist

tika config changed
  src/pdf_extraction/index.js
  src/pdf_extraction/tika-config.xml
Due: build-pdf-extraction

httpd-demo/pdf-extraction version
  docker-compose.yaml
Due: none

Update dbgate/dbgate Docker tag to v6.6.5
  docker-compose.yaml
Due: none

Update fcrepo/fcrepo Docker tag to v6.5.1
  docker-compose.yaml
Due: none

Update ubuntu Docker tag to jammy-20251001
  dockerfiles/api-base.dockerfile
  dockerfiles/chronos-base.dockerfile
  dockerfiles/imageserver.dockerfile
  dockerfiles/pixelgecko-base.dockerfile
  dockerfiles/vige-base.dockerfile
Due: build-api-base, build-api-dist, build-chronos-base, build-chronos-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-vige-base, build-vige-dist

remove Susanne from phaidra.org
  website/impressum.md
Due: build-website-push-staging, build-website-push-final

Edit overview.md
  website/community/overview.md
Due: build-website-push-staging, build-website-push-final

Edit university-of-vienna.md
  website/community/university-of-vienna.md
Due: build-website-push-staging, build-website-push-final

Edit docker-compose.yaml: avoid "WARN[0000] The "HANDLE_PUBLIC_IP" variable is not set. Defaulting to a blank string." if the HANDLE_PUBLIC_IP is not set in .env
  docker-compose.yaml
Due: none

fix wrong download url
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

fix Pure call authentication for v >524
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
Due: build-api-dist

change handle agent envs and change the post request format
  docker-compose.yaml
  src/agents/hdl/index.js
Due: none

k8s: build iipsrv in openshift registry use official iipsrv docker image: easier to run as user as it's based on lighttpd instead of apache2
  dockerfiles/imageserver.dockerfile
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/iipsrv-buildconfig.yaml
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/imageserver-service.yaml
  k8s/helm/templates/imagestreams.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
Due: build-imageserver

k8s: set TLS issuer in values.yaml
  k8s/helm/templates/httpd-ingress.yaml
  k8s/helm/values.yaml
Due: none

k8s: pixelgecko: add missing env variables
  k8s/helm/templates/pixelgecko-deployment.yaml
Due: none

k8s: ingress
  k8s/helm/templates/httpd-ingress.yaml
Due: none

imageserver: update image
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

k8s: better example in values.yaml
  k8s/helm/values.yaml
Due: none

k8s: update non-phaidraorg images
  k8s/helm/templates/dbgate-deployment.yaml
  k8s/helm/templates/fedora-deployment.yaml
  k8s/helm/templates/grafana-deployment.yaml
  k8s/helm/templates/httpd-deployment.yaml
  k8s/helm/templates/lam-deployment.yaml
  k8s/helm/templates/loki-deployment.yaml
  k8s/helm/templates/promtail-daemonset.yaml
Due: none

k8s: update lam version
  dockerfiles/lam.dockerfile
Due: none

k8s: use cephfs for persistent volumes
  k8s/helm/values.yaml
Due: none

k8s: phaidra helm 0.0.2
  k8s/helm/Chart.yaml
Due: none

k8s: fix openldap permissions
  k8s/helm/templates/openldap-deployment.yaml
Due: none

CI: auto push to helm repo
  .gitlab-ci.yml
Due: none

k8s: pixelgecko,imageserver: add required IMAGESERVER_ROOT_PATH env variable
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
Due: none

k8s: adjust PVC access mode type avoids error for now - the old accessmodes didnt work with the pvc types TODO check if a different type would be better
  k8s/helm/templates/fedora-persistentvolumeclaim.yaml
  k8s/helm/templates/pixelgecko-persistentvolumeclaim.yaml
Due: none

k8s: secret for passwords
  k8s/helm/templates/grafana-deployment.yaml
  k8s/helm/templates/phaidra-access.yaml
  k8s/helm/values.yaml
Due: none

k8s: fcrepo: give access to users.
  k8s/helm/templates/fedora-configmap.yaml
  k8s/helm/templates/fedora-deployment.yaml
Due: none

k8s: add required command to ui deployment
  k8s/helm/templates/ui-deployment.yaml
Due: none

k8s: fix databases (mariadb/mongo/dbgate) - bigger volumes - permissions - folder path
  k8s/helm/templates/dbgate-deployment.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/values.yaml
Due: none

k8s: s3 access. access and secret key in secret some are not possible: fcrepo (or rather the java sdk they use) can't use the endpoint from ENV variable some pixelgecko adjustments
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/templates/fedora-deployment.yaml
  k8s/helm/templates/imageserver-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/values.yaml
Due: none
