Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

make required field message translatable
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

make metadata fields help label clearer
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

fix italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

616-redeisgn-homepage-ui
  website/assets/css/tweaks.css
  website/overrides/partials/header.html
Due: build-website-push-staging, build-website-push-final

fix translation in object file replace function
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Update api/ui versions
  docker-compose.yaml
Due: none

members is not defined, treat it as an empty array ref before any members use.
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Change a11y link in kph submit form
  src/phaidra-ui/pages/submit/oerkphvie.vue
Due: build-ui

618-fix-search-bar
  website/assets/css/tweaks.css
Due: build-website-push-staging, build-website-push-final

hide search trigger icon when search bar is open
  website/assets/css/tweaks.css
Due: build-website-push-staging, build-website-push-final

redesign website homepage and footer
  website/assets/css/tweaks.css
  website/overrides/home.html
  website/overrides/partials/footer.html
  website/overrides/partials/header.html
Due: build-website-push-staging, build-website-push-final

change header color
  website/assets/css/tweaks.css
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

collection member sorting by creation date
  src/phaidra-api/PhaidraAPI/Controller/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-ui/pages/delete/_pid.vue
  src/phaidra-ui/pages/sort/_pid.vue
  src/phaidra-ui/pages/sorttextinput/_pid.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

index api bypass
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

not found objects are deindexed too
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

sorting issue on image server report
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

send email report now
  src/phaidra-ui/pages/admin.vue
Due: build-ui

send report now primary color
  src/phaidra-ui/pages/admin.vue
Due: build-ui

spacing lint fix
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

daily report on previous calendar date
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

Fix linting
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

fix uwmetadata org_get_units call
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

Update api/ui version
  docker-compose.yaml
Due: none

Fix Institute options in uwmetadata org_get_units API response
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-api-dist, build-ui

lint fix
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
Due: build-api-dist

Add authz to oai/blacklist call; Closes #630
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

UWMETADATA sibling order fix as per histkult XSD
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
Due: build-api-dist, build-ui

date validatio fix along with EDTF rules
  src/phaidra-vue-components/src/components/display/PDEntity.vue
  src/phaidra-vue-components/src/mixins/validationrules.js
  src/phaidra-vue-components/src/utils/dateValidation.js
Due: build-ui

The trailing dash after a birth date and the leading dash before a death date follow
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

Allow multiple object types in LOM
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Lom.pm
Due: build-api-dist

lint fix
  src/phaidra-api/PhaidraAPI/Model/Config.pm
Due: build-api-dist

ot4rt mapping issue encode and decode
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Model/Config.pm
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

Update api/ui version (+ lint)
  docker-compose.yaml
Due: none

Fix authentication on allowsubmit check in IR controller
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Update handle server configuration, change handle registration code in agent-hdl
  container_init/handle/config.dct.template
  container_init/handle/handle-entrypoint.sh
  container_init/handle/siteinfo.json.template
  docker-compose.yaml
  dockerfiles/handle.dockerfile
  src/agents/hdl/handle.js
  src/agents/hdl/index.js
  src/agents/hdl/package.json
Due: build-agent-hdl, build-handle

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
