Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

add to list from object detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Fix api entry point
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

Remove pull upload feature
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Update ui version, fix httpd configs
  docker-compose.yaml
Due: none

Fix directory deferences
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld/Extraction.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Terms.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Extraction.pm
Due: build-api-dist

Remove call to an unimplemented methods
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Add api src to rules->changes for api-base
  .gitlab-ci.yml
Due: none

Remove unused tracking code and imagemanipulator code
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

Remove imagemanipulator db
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Change GET to POST in search_ocr to avoid the URL length limit
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Change cms_css loading behavior
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/store/index.js
Due: build-ui

fix missing outlined card in submit form subsection
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
Due: build-ui

larger bookmark icon next to object title
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Fix order and search query in OCR search
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Switch back to debug log level in api
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Update api/ui versions
  docker-compose.yaml
Due: none

Add documentation about admin datastructures
  mkdocs.yml
  website/docs/configuration.md
  website/docs/customization.md
Due: build-website-push-staging, build-website-push-final

Some spell fixes
  website/docs/api.md
  website/docs/architecture.md
  website/docs/configuration.md
  website/docs/digital-object.md
  website/docs/features.md
Due: build-website-push-staging, build-website-push-final

add .gitignore to ui and vue-components
  src/phaidra-ui/.gitignore
  src/phaidra-vue-components/.gitignore
Due: build-ui

Fix gitignore for phaidra-ui
  src/phaidra-ui/.gitignore
Due: build-ui

Removes reference to non-existent file
  src/phaidra-api/templates/utils/pdfviewer.html.ep
Due: build-api-dist

add GPLv3 to alllicenses
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

search facets: add link based version to GPLv3 query
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

Add script for deleting books
  src/phaidra-api/utils/deleteBook.pl
Due: build-api-dist

Fix condition for required affiliation env
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

header logout in button
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

outline general metadata and represented object section cards
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

Add missing lib in DC controller
  src/phaidra-api/PhaidraAPI/Controller/Dc.pm
Due: build-api-dist

Remove duplicate indexing line
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Add rows to params in deleteBook solr query
  src/phaidra-api/utils/deleteBook.pl
Due: build-api-dist

Fix sitemap links
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Update httpd version
  docker-compose.yaml
Due: none

Fix thumbnails for books
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

remove leftover keycloak files
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-keycloak/httpd-keycloak-entrypoint.bash
  dockerfiles/keycloak.dockerfile
Due: none

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
