Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-pdf-extraction, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

Updates httpd-demo-dist, httpd-ssl-dist and https-shib-dist versions
  docker-compose.yaml
Due: none

Adds possibility to enable PFSA and NOINDEX
  configs/httpd_custom.conf
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  docker-compose.yaml
  pfsa/index.html
Due: build-httpd-ssl-dist

Adds PFSA and NOINDEX flags to shib profile too
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
Due: build-httpd-shib-dist

Adds pfsa folder content to .gitignore
  .gitignore
Due: none

Updates httpd-shib-dist version
  docker-compose.yaml
Due: none

Changes permissions on pfsa index file
  pfsa/index.html
Due: none

Updates readme regarding ACME setup
  README.md
Due: none

replace data added loader
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

remove redudant log messages
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

ror api version change
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-vue-components/src/components/select/RorSearch.vue
Due: build-ui

orcid affiliation fix, null check on condition
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

doi import on template
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

Refactor citation handling in json-ld
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

language reset option for see also field
  src/phaidra-vue-components/src/components/input/PISeeAlso.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

fixed association parent selection on new meta field and edit form
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

replace data size reindex
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

disableChecksum condition check
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

minor italian translation fixes
  src/phaidra-ui/locales/ita.json
Due: build-ui

more italian translations for submit role vocabulary
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

AC-Number italian translation
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/locales/ita.json
Due: build-api-dist, build-ui

italian label fix
  src/phaidra-ui/locales/ita.json
Due: build-ui

add italian translation of role vocabulary skos definitions
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Updates api and ui version
  docker-compose.yaml
Due: none

implemented 360 viewer logic
  docker-compose.yaml
  dockerfiles/360viewer.dockerfile
  src/360viewer/index.js
  src/360viewer/package.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Viewer360.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Extraction.pm
  src/phaidra-api/PhaidraAPI/Model/Viewer360.pm
  src/phaidra-api/public/360viewer/JavascriptViewer.min.js
  src/phaidra-api/templates/360viewer/processing.html.ep
  src/phaidra-api/templates/360viewer/viewer.html.ep
  src/phaidra-ui/pages/submit/uwm/_cmodel.vue
  src/phaidra-ui/utils/cmodels.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

remove 360 viewer cmodel and changed the logic
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/submit/uwm/_cmodel.vue
  src/phaidra-ui/utils/cmodels.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

Adds 3d-converter image build
  .gitlab-ci.yml
Due: none

Changes 360viewer agent name to unzip
  src/360viewer/index.js
Due: none

Adds image for 360viewer-converter do compose file
  docker-compose.yaml
Due: none

Adds default placeholder values for PHAIDRA_ADMIN_EMAIL and MD_CERTIFICATE_AGREEMENT
  docker-compose.yaml
Due: none

Updates prerequisities for demo in README
  README.md
Due: none

Adds TL;DR section
  README.md
Due: none

v3.3.17
  CHANGELOG.md
Due: none

Edit README.md
  README.md
Due: none

Removes httpd_custom.conf from gitignore
  .gitignore
Due: none

Credit more software components in README
  README.md
Due: none

Fix missing agent renames
  docker-compose.yaml
  dockerfiles/agent-opencast-base.dockerfile
  dockerfiles/agent-opencast-dist.dockerfile
  src/agents/libvips/libvips.pl
  src/agents/obj2gltf/package.json
  src/agents/opencast/checker.bash
  src/agents/opencast/cleaner.bash
  src/agents/opencast/controller.bash
  src/agents/opencast/uploader.bash
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Streaming.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
Due: build-api-dist

Reorganize compose file based on services, not profiles
  docker-compose.yaml
Due: none

Fix some remaining naming inconsistencies
  dockerfiles/agent-libvips-base.dockerfile
  dockerfiles/agent-libvips-dist.dockerfile
  dockerfiles/agent-obj2gltf.dockerfile
  src/agents/libvips/agent-libvips.pl
  src/agents/libvips/agent-libvips_conf.yml
  src/agents/opencast/controller.bash
Due: none
