Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

fixed orcid prefix issue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

license checking fix
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

doi object import validation fix
  src/phaidra-vue-components/src/components/input/PIObjectType.vue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

ror search for project funder name
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

pagination change for collection members
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

uwmetadata license link fix
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Removed the dc_rights prop and switched to the vocabulary store to get license URIs
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Update IIIF manifest metadata on-the-fly instead of via hooks
  src/phaidra-api/PhaidraAPI/Controller/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

Running metadata update lazily on manifest retrieval
  src/phaidra-api/PhaidraAPI/Controller/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

solr backup cron
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/solr-phaidra.bash
  docker-compose.yaml
Due: build-chronos-dist

Remove assigning country codes for now
  container_init/chronos/original-perl/processUsageStats.pl
Due: build-chronos-dist

Add copy fields to existing solr schema
  scripts/add_copyfields_v3.4.0.sh
Due: none

Remove old fixity checker
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/fixity-checker.bash
Due: build-chronos-dist

Update chronos/solr/api/ui version
  docker-compose.yaml
Due: none

Remove statistics detail link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

Fix agent opencast src path
  dockerfiles/agent-opencast-base.dockerfile
Due: none

Update agent-opencast version
  docker-compose.yaml
Due: none

Organize migration scripts better, add oai index and solr migration, sanitize indexObjects credentials
  CHANGELOG.md
  container_init/mongodb/mongodb-after-entry.sh
  scripts/add_copyfields_v3.4.0.sh
  scripts/migrations/v3.4.0/01_migrate_volumes.sh
  src/phaidra-api/migrations/v3.3.16/alter_usage_stats_table.pl
  src/phaidra-api/migrations/v3.3.17/01_add_uwm_object_types.pl
  src/phaidra-api/migrations/v3.3.17/02_add_uwm_roles.pl
  src/phaidra-api/migrations/v3.3.17/03_add_missing_labels.pl
  src/phaidra-api/migrations/v3.3.17/04_add_phaidra_ir_tables.pl
  src/phaidra-api/migrations/v3.3.17/05_add_more_usage_stats_indexes.pl
  src/phaidra-api/migrations/v3.3.17/06_add_solr_fields.pl
  src/phaidra-api/migrations/v3.4.0/01_rename_mongodb_agents.pl
  src/phaidra-api/migrations/v3.4.0/02_create_new_usage_stats_tables.pl
  src/phaidra-api/migrations/v3.4.0/03_load_ip2country_to_db.pl
  src/phaidra-api/migrations/v3.4.0/04_migrate_usage_stats_to_usage_log.pl
  src/phaidra-api/migrations/v3.4.0/05_add_oai_records_index.pl
  src/phaidra-api/migrations/v3.4.0/06_add_solr_copyfields.pl
  src/phaidra-api/utils/indexObjects.pl
Due: build-api-dist, build-mongodb-dist

Add robots.txt to admin config
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Update mongodb/api/ui version
  docker-compose.yaml
Due: none

Moves changelog section to correct place
  CHANGELOG.md
Due: none

Fix changelog example
  CHANGELOG.md
Due: none

Fix robots.txt proxy config
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Change httpd log format to combinedio
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Update httpd version
  docker-compose.yaml
Due: none

Remove SSL CustomLog stanza
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Remove TransferLog stanza
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Fix usage stats migration script
  src/phaidra-api/migrations/v3.4.0/04_migrate_usage_stats_to_usage_log.pl
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

Fix adding mongo indexes
  src/phaidra-api/migrations/v3.4.0/05_add_oai_records_index.pl
Due: build-api-dist

Avoid calling fedora if the PID is not specified
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

Add more indexes to jobs collection
  CHANGELOG.md
  container_init/mongodb/mongodb-after-entry.sh
  src/phaidra-api/migrations/v3.4.0/07_add_jobs_indexes.pl
Due: build-api-dist, build-mongodb-dist

Limit varnish memory usage and adjust config to cache OAI responses too
  configs/varnish.vcl
  docker-compose.yaml
Due: none

Add rate limiting to httpd
  configs/httpd_custom.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
