Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

cookie banner content editable
  src/phaidra-ui/components/CookieBanner.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/stores/root.js
Due: build-ui

Object version timestamp
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

missing json ld in datastream return response issue
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
Due: build-api-dist

De-duplicate DC output by using the OAI Dublincore mapper
  src/phaidra-api/PhaidraAPI/Controller/Dc.pm
Due: build-api-dist

Delete object redirect back to detail page instead of search page
  src/phaidra-ui/pages/delete/[pid].vue
Due: build-ui

common page not found for detail with non existance pid and no pid, breadcrumb on detail only if pid contains
  src/phaidra-ui/components/PageNotFound.vue
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-ui/pages/detail/index.vue
  src/phaidra-ui/stores/root.js
Due: build-ui

BIC removed from add field but kept the field def so that existing form will work
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

Prevent Delete button on template list on submit form
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

snackbar on metadata template created
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

custom facet,owner, author reset filter logic fix
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

accessibility values variable from computed instead of mounted as the value is not updating as the preview tab will not mount again
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

fcrepo deprecated property change
  docker-compose.yaml
Due: none

fixed missing object ssr log
  src/phaidra-ui/stores/root.js
Due: build-ui

False alarm log fixed.
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
Due: build-api-dist

display lang for Temporal coverage
  src/phaidra-vue-components/src/components/display/PDDate.vue
Due: build-ui

index not found log with core name for understanding
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

facet filter selection fix
  src/phaidra-vue-components/src/components/search/location.js
Due: build-ui

call number to shelf mark chagne
  src/phaidra-ui/locales/eng.json
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

mimetype doc update
  src/phaidra-api/public/docs/openapi.json
  website/docs/api.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

prometheus: Make retention configurable and set default to 90d (From 15d)
  container_init/prometheus/prometheus-entrypoint.sh
  docker-compose.yaml
Due: none

Show Last modified on object detail and fix Solr modified from datastreams
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-api-dist, build-ui

Remove 3DHop viewer
  README.md
  configs/varnish.vcl
  dockerfiles/api-base.dockerfile
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/3dviewer.html.ep
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-vue-components/src/stores/vocabulary.js
  website/docs/features.md
Due: build-api-base, build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Update api/ui image versions
  docker-compose.yaml
Due: none

Add password reset icon
  src/phaidra-ui/icons/mdi-svg.js
Due: build-ui

Update documentation about user management
  mkdocs.yml
  src/phaidra-api/public/docs/openapi.json
  website/docs/user-management.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

moved definePageMeta into a top-level <script setup> block
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
  src/phaidra-ui/pages/bulk-upload/index.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
  src/phaidra-ui/pages/delete/[pid].vue
  src/phaidra-ui/pages/groups.vue
  src/phaidra-ui/pages/inactive-objects.vue
  src/phaidra-ui/pages/lists.vue
  src/phaidra-ui/pages/metadata/[pid]/edit.vue
  src/phaidra-ui/pages/relationships/[pid].vue
  src/phaidra-ui/pages/rights/[pid].vue
  src/phaidra-ui/pages/sort/[pid].vue
  src/phaidra-ui/pages/sorttextinput/[pid].vue
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
  src/phaidra-ui/pages/submit/catalogfetchuploadold.vue
  src/phaidra-ui/pages/submit/custom/[templateid].vue
  src/phaidra-ui/pages/submit/index.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submit/opencast.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submit/uwm/[cmodel].vue
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/pages/upload-webversion/[pid].vue
  src/phaidra-ui/pages/uwmetadata/[pid]/edit.vue
Due: build-ui

meta description added for SEO
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/mixins/config.js
  src/phaidra-ui/pages/code-of-ethics.vue
  src/phaidra-ui/pages/collections/[collection].vue
  src/phaidra-ui/pages/contact.vue
  src/phaidra-ui/pages/credits.vue
  src/phaidra-ui/pages/editorial-policies.vue
  src/phaidra-ui/pages/file-formats.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/pages/impressum.vue
  src/phaidra-ui/pages/index.vue
  src/phaidra-ui/pages/metadata-fields-help.vue
  src/phaidra-ui/pages/search.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

long keyword input and display issue fix
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/stores/root.js
  src/phaidra-vue-components/src/components/display/PDKeyword.vue
  src/phaidra-vue-components/src/components/input/PIKeyword.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/keywordMaxLength.js
Due: build-ui

lint fix
  src/phaidra-api/migrations/v3.5.0/03_add_pacs_term_labels.pl
Due: build-api-dist

Migration details on changelog
  CHANGELOG.md
Due: none

rename file
  src/phaidra-api/migrations/v3.5.0/03_add_pacs_term_labels.pl
Due: build-api-dist

add migration for missing PACS uwmetadata term labels
  src/phaidra-api/migrations/v3.5.0/02_add_pacs_term_labels.pl
Due: build-api-dist

Change the hint about template tag in admin CMS tab
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
Due: build-ui

JSON-LD namespaces minor improvements
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  website/docs/metadata.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

Added oaire to the JSON-LD namespaces
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  website/docs/metadata.md
Due: build-api-dist, build-website-push-staging, build-website-push-final

removed controlled card title line height
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

removed paragraph tag in detail page cards
  src/phaidra-ui/pages/detail/[pid].vue
Due: build-ui

dce:format changes
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/stores/info.js
  src/phaidra-vue-components/src/utils/fields.js
  website/docs/metadata.md
Due: build-ui, build-website-push-staging, build-website-push-final

Fix lint error
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
