Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*

added italian translation of validation rules messages
  src/phaidra-ui/locales/ita.json
Due: build-ui

typo
  src/phaidra-ui/locales/ita.json
Due: build-ui

fixed some italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

added missing italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

added more italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

added italian translation to some vocabulary terms
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

fix italian translation of Cite As ids
  src/phaidra-ui/locales/ita.json
Due: build-ui

update italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

remove redundant vertical margins on help pages
  src/phaidra-vue-components/src/components/info/PHelp.vue
  src/phaidra-vue-components/src/components/info/PMetadataFieldsHelp.vue
Due: build-ui

cite button position change
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

doi display in detail page change
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/store/index.js
Due: build-ui

separete license disclaimer for MIT
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PISelect.vue
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/eng.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

fix checksum label translation
  src/phaidra-ui/pages/admin.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

fix letter casing in submit form tab labels
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

add vra:placeOfRepository and phaidra:systemTag to metadata fields overview
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

specify definition of note metadata fields
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

remove containers from Contained In field display
  src/phaidra-vue-components/src/components/display/PDContainedIn.vue
Due: build-ui

fix contained in metadata field display
  src/phaidra-vue-components/src/components/display/PDContainedIn.vue
Due: build-ui

fix Is Motion Picture Adaptation Of metadata field display
  src/phaidra-vue-components/src/components/display/PDAdaptation.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

3d model path issue resolved.
  src/agents/obj2gltf/index.js
  src/phaidra-api/PhaidraAPI/Controller/Threed.pm
  src/phaidra-api/PhaidraAPI/Model/Threed.pm
Due: build-api-dist

Update agent-obj2gltf version
  docker-compose.yaml
Due: none

replacing iiifmanifest baseurl on get
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

scrape api (mojolicious) metrics with prometheus)
  container_init/prometheus/prometheus-entrypoint.sh
  container_init/prometheus/prometheus.yaml
  docker-compose.yaml
  dockerfiles/api-base.dockerfile
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-base, build-api-dist, build-prometheus-dist

enable fcrepo metrics - already scraped by prometheus
  docker-compose.yaml
Due: none

Update prometheus/api version
  docker-compose.yaml
Due: none

using mariadb-dump.
  container_init/chronos/original-perl/dumpUsageLog.pl
Due: build-chronos-dist

usage log dump cron
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/original-perl/dumpUsageLog.pl
Due: build-chronos-dist

Update chronos version
  docker-compose.yaml
Due: none

gif skip image server job
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/templates/utils/gifviewer.html.ep
Due: build-api-dist

imagemagick to help converting gif to tiff for libvips to handle
  dockerfiles/agent-libvips-base.dockerfile
  src/agents/libvips/agent-libvips.pl
Due: none

updating libvips
  dockerfiles/agent-libvips-base.dockerfile
  src/agents/libvips/agent-libvips.pl
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

removed unwanted
  dockerfiles/agent-libvips-base.dockerfile
Due: none

removed unwanted gif viewer file
  src/phaidra-api/templates/utils/gifviewer.html.ep
Due: build-api-dist

Update agent-libvips version
  docker-compose.yaml
Due: none

Add default phaidraAdmin password to prometheus compose
  docker-compose.yaml
Due: none

collection pagination
  src/phaidra-vue-components/src/components/select/CollectionDialog.vue
Due: build-ui

collection check from router query
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

add english label for ebucore:hasRelatedEvent
  src/phaidra-ui/locales/eng.json
Due: build-ui

add english labels for bf:instanceOf and vra:placeOfRepository
  src/phaidra-ui/locales/eng.json
Due: build-ui
