Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-pdf-extraction, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

resource link upload
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

enable resource link section from admin config
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
Due: build-ui

moved link toggle button before collection button
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
Due: build-ui

enabling/disabling link button in submit form
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
Due: build-ui

translate cmodels
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
Due: build-ui

added German translation of cmodel Asset label
  src/phaidra-ui/locales/deu.json
Due: build-ui

add more cmodel translations
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
Due: build-ui

added auth middleware for submit page
  src/phaidra-ui/pages/submit/index.vue
Due: build-ui

creating tika job for pdf on book object
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

handling unknown mimetype upload
  src/phaidra-ui/pages/bulk-upload/upload.vue
  src/phaidra-vue-components/src/components/input/PIFile.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

showing vocabulary code for object type select in edit metadata form
  src/phaidra-ui/pages/metadata/_pid/edit.vue
Due: build-ui

funder name condition check
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

cookie banner styling
  src/phaidra-ui/components/CookieBanner.vue
Due: build-ui

entity identifier styles on uwmetadata object detail
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

uwmetadata dimensions section display fix
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

fix typo in metadata fields overview
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

typo
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

use 24-hour format in utc timestamp
  src/phaidra-ui/layouts/default.vue
Due: build-ui

languages for Afrikawissenschaften added
  src/phaidra-vue-components/src/utils/lang.js
Due: build-ui

video js for non streaming videos
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/streamingplayer.html.ep
Due: build-api-dist

video js from local
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/public/video-js/video-js.min.css
  src/phaidra-api/public/video-js/video.min.js
  src/phaidra-api/templates/utils/videoplayer.html.ep
Due: build-api-dist

changed video js from streaming to video player template
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/streamingplayer.html.ep
  src/phaidra-api/templates/utils/videoplayer.html.ep
Due: build-api-dist

removed controls and preload video tag attributes
  src/phaidra-api/templates/utils/videoplayer.html.ep
Due: build-api-dist

terms agree fix
  src/phaidra-ui/pages/login.vue
Due: build-ui

added static folder to gitignore
  .gitignore
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

smtp config handle for fixity checker
  docker-compose.yaml
  scripts/fixity_handler.sh
Due: none

api/ui/httpd version
  docker-compose.yaml
Due: none

ita i18n upd
  src/phaidra-ui/locales/ita.json
Due: build-ui

ui version
  docker-compose.yaml
Due: none

add data to downloadable types in openaire
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

add cmodel asset to downloads in openaire
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
Due: build-api-dist

Update gcr.io/cadvisor/cadvisor Docker tag to v0.52.1
  docker-compose.yaml
Due: none

Added Piwik support
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

generalize js snippet field
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

removed the unnecessary loadVocabulary dispatch call
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

handling All rights reserved rights
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

theme dark metadata display subsections transparent background color
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

fixed temporal coverage field issue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
