Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

fix margins of haslaterversion message
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added horizontal divider to object title if no preview
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Title before preview on detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

csp header included
  configs/httpd_custom.conf
Due: none

normalize audio/x-flac to audio/flac for HTML5 audio element compatibility
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

preventing varnish cache on error, returning fedora status instead of 500
  configs/varnish.vcl
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

upload related object continue button disable
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

dynamic preview index
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

preview on upload related obj
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

Update dbgate/dbgate Docker tag to v6.8.2
  docker-compose.yaml
  k8s/helm/templates/dbgate-deployment.yaml
Due: helm-package

Update alpine Docker tag to v3.23
  dockerfiles/handle.dockerfile
Due: build-handle

Update handle/api/ui versions
  docker-compose.yaml
Due: none

Add volume dump/restore scripts
  scripts/phaidra-volumes-dump.sh
  scripts/phaidra-volumes-restore.sh
Due: none

Fix CLRF in dump/restore scripts
  scripts/phaidra-volumes-dump.sh
  scripts/phaidra-volumes-restore.sh
Due: none

Update grafana/grafana Docker tag to v12.3.3
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
  k8s/helm/templates/grafana-deployment.yaml
Due: build-grafana-dist, helm-package

Update grafana/loki Docker tag to v3.6.7
  docker-compose.yaml
  dockerfiles/loki-dist.dockerfile
  k8s/helm/templates/loki-deployment.yaml
Due: build-loki-dist, helm-package

csp header change
  configs/httpd_custom.conf
Due: none

csp header Matches all routes that don't start with /api/
  configs/httpd_custom.conf
Due: none

fixed csp header for video player
  configs/httpd_custom.conf
Due: none

add open-in-new icon to Open Link button label
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

add eye icon to Show Members button label on detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added open-in-new icon to button label on detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

translation mismatch fix
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/display/PDSkosPreflabel.vue
Due: build-ui

show rounded corners on terms of use cards
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/nossologin.vue
  src/phaidra-ui/pages/ssoconsent.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

specify action in RSS Feed button label
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

fix mobile view of collection members header
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

title subtitle flow change to support uwmetadata and mods
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

thumbnail link in relationship box
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

link all relationship thumbnail
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

handling accesscondition case sensitive
  src/phaidra-vue-components/src/components/legacy/PDModsRec.vue
Due: build-ui

format linking handle
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
Due: build-ui

added kissi languages, corrected Banyun | Bainou
  src/phaidra-vue-components/src/utils/lang.js
Due: build-ui

grid adjustment for collection members
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

search exclude unwanted fields
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

metadata 404 return on non existent object
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

ocr search query changed
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Update grafana/promtail Docker tag to v3.6.7
  docker-compose.yaml
  dockerfiles/promtail-dist.dockerfile
Due: build-promtail-dist

Update promtail/loki/grafana/api/ui verisons
  docker-compose.yaml
Due: none

keyword search
  src/phaidra-vue-components/src/components/search/utils.js
Due: build-ui

Updated the qf parameter to include dc_subject language variants
  src/phaidra-vue-components/src/components/search/utils.js
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
