Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

Make uploader roles more clear; no uploader = no upload
  policies/README.md
  policies/phaidra/authz/allow.rego
  policies/phaidra/authz/allow_test.rego
  policies/phaidra/authz/metadata.rego
  policies/phaidra/authz/metadata_test.rego
  policies/phaidra/authz/upload.rego
  policies/phaidra/config/data.json
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/mixins/context.js
  src/phaidra-ui/stores/root.js
  website/docs/authorization.md
  website/docs/user-management.md
Due: build-api-dist, build-ui, build-website-push-staging, build-website-push-final

Try to move meta before scripts to make 2MB limited google site verification work
  src/phaidra-ui/layouts/default.vue
Due: build-ui

Add events tracking to curated/deferred submit
  policies/phaidra/authz/change_owner_test.rego
  policies/phaidra/authz/helpers_test.rego
  policies/phaidra/authz/ui.rego
  policies/phaidra/config/data.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Event.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-ui/icons/mdi-svg.js
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/inactive-objects.vue
Due: build-api-dist, build-ui

Fix lint errors
  src/phaidra-api/PhaidraAPI/Controller/InactiveObjects.pm
  src/phaidra-api/PhaidraAPI/Model/Event.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Opa.pm
Due: build-api-dist

Restore Vuetify 2 heading reset inside the core reset layer
  src/phaidra-ui/layouts/default.vue
Due: build-ui

oai identifier namespace check
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
Due: build-api-dist

Update api/ui image versions
  docker-compose.yaml
Due: none

Add bibo:edition metadata field
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/stores/info.js
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Makes fetuchpload part of submitform, adds latest mapping changes
  src/phaidra-api/PhaidraAPI/Model/Mappings/Import/Marc.pm
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/submit/catalogfetchuploadold.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/stores/root.js
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/utils/PCatalogImport.vue
Due: build-api-dist, build-ui

Fix lint errors
  src/phaidra-api/PhaidraAPI/Model/Mappings/Import/Marc.pm
Due: build-api-dist

collection route rename
  src/phaidra-ui/pages/collections/[[collection]].vue
Due: build-ui

add missing icon for phaidra unipd
  src/phaidra-ui/icons/mdi-svg.js
Due: build-ui

Update api/ui image version
  docker-compose.yaml
Due: none

Add validation skip for certain roles
  policies/phaidra/authz/ui.rego
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

Update ui image version
  docker-compose.yaml
Due: none

Add forgotten ui policy test
  policies/phaidra/authz/ui_test.rego
Due: none

Use container isthumbnailfor or member image for thumbnail
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Update api image version
  docker-compose.yaml
Due: none

Fix wrong references in templates
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/uwm/[cmodel].vue
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
Due: build-ui

Fix edm:type cardinality and a cmodel typo
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Set max_connections to 200 for phaidra and fedora db
  docker-compose.yaml
Due: none

Prefer remote user attributes in auhtz subject
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
Due: build-api-dist

Fix lint errors
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Policy/Context.pm
Due: build-api-dist

only info log and pin toolbox 6.2.1
  docker-compose.yaml
  dockerfiles/camel.dockerfile
  k8s/helm/templates/cameltoolbox-deployment.yaml
Due: build-camel-toolbox, helm-package

Ignore query params on PID redirect
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

camel switched image
  dockerfiles/camel.dockerfile
Due: build-camel-toolbox

Forward If-None-Match to and ETag from Fedora
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Fix lint errors
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Update camel-toolbox image version
  docker-compose.yaml
Due: none

Amend EDM logic for Container thumbnails and edm:type
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Fix lint errors
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
Due: build-api-dist

Add mysql_enable_utf8 to user database connection
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

Use irbaseurl for redirect to IR
  src/phaidra-ui/components/Submit.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
