Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

update italian translation
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

remove redundant whitespaces in strings
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/store/modules/info.js
Due: build-ui

increase font size of terms of use text
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

preview on custom template
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

doi import role handle
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

see also link fix
  src/phaidra-vue-components/src/components/display/PDSeeAlso.vue
Due: build-ui

dcterms:references as fedora prefix rather than literal
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

dc_identifier instance url prevent
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
Due: build-api-dist

removed extracted text in info as well as in members
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Update ubuntu Docker tag to jammy-20260109
  dockerfiles/agent-libvips-base.dockerfile
  dockerfiles/agent-opencast-base.dockerfile
  dockerfiles/api-base.dockerfile
  dockerfiles/chronos-base.dockerfile
Due: build-api-base, build-api-dist, build-chronos-base, build-chronos-dist

Update chronos/agent-opencast/agent-libvips/api/ui versions
  docker-compose.yaml
Due: none

Update lusotycoon/apache-exporter Docker tag to v1.0.12
  docker-compose.yaml
Due: none

Add option to use EAB in ACME
  README.md
  configs/httpd_custom.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  docker-compose.yaml
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Fix httpd flags concatenation
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
Due: build-httpd-shib-dist, build-httpd-ssl-dist

Fix missing HTTPD_ACME_ENABLE env in compose file
  docker-compose.yaml
Due: none

Update shib and ssl httpd version
  docker-compose.yaml
Due: none

Update grafana/loki Docker tag to v3.6.5
  docker-compose.yaml
  dockerfiles/loki-dist.dockerfile
  k8s/helm/templates/loki-deployment.yaml
Due: build-loki-dist, helm-package

Update grafana/promtail Docker tag to v3.6.5
  docker-compose.yaml
  dockerfiles/promtail-dist.dockerfile
Due: build-promtail-dist

Updated the query to explicitly search in the extracted_text field for full text.
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

fixed bookviewer search not working issue
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

access restriction message for collection
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

access right alert on collection design change
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

Identifiers field for corporate contributor
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

translatable doi import error messages
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

hide rights management for book and page cmodels
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

email reporting
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/original-perl/sendDailyReport.pl
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/templates/reporting/email.html.tt
  src/phaidra-api/templates/reporting/email.txt.tt
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui, build-chronos-dist

Update loki/promtail/chronos/api/ui version
  docker-compose.yaml
Due: none

Add LingedIn icon
  src/phaidra-ui/compiled-icons/index.js
  src/phaidra-ui/compiled-icons/linkedin.js
  src/phaidra-ui/components/ext/Home.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui

typo in italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix some italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

added some italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

ita transl
  src/phaidra-ui/locales/ita.json
Due: build-ui

thema notation value as string
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

removed required validation for personal affiliation
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

Removed the MD5 checksum query from the info method
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

collection membership warning message fixes
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

submit related obj: hide JSON-LD tab, show feedback tab if set in config
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

fix margin and font of book page message
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
