Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-pdf-extraction, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

add gigabytes filter
  src/phaidra-ui/components/Repostat.vue
  src/phaidra-ui/layouts/default.vue
Due: build-ui

add gigabytes filter also to fedora stats
  src/phaidra-ui/components/Repostat.vue
Due: build-ui

ui version
  docker-compose.yaml
Due: none

fix undefined responce in repostat
  src/phaidra-ui/components/Repostat.vue
Due: build-ui

fix imageserver size count
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

#372 fixing login link
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

fix numberOfPages json representation
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Update prom/prometheus Docker tag to v2.55.1
  docker-compose.yaml
  dockerfiles/prometheus-dist.dockerfile
Due: build-prometheus-dist

Update grafana/promtail Docker tag to v3.6.2
  docker-compose.yaml
  dockerfiles/promtail-dist.dockerfile
Due: build-promtail-dist

fix thema classification tree label
  src/phaidra-vue-components/src/components/select/ThemaTreeDialog.vue
Due: build-ui

split migration scripts to avoid conflicts
  src/phaidra-api/migrations/v3.3.17a.pl
  src/phaidra-api/migrations/v3.3.17b.pl
  src/phaidra-api/migrations/v3.3.17c.pl
  src/phaidra-api/migrations/v3.3.17d.pl
  src/phaidra-api/migrations/v3.3.17e.pl
Due: build-api-dist

add indexes to job collection; fix ldap query
  container_init/mongodb/mongodb-after-entry.sh
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist, build-mongodb-dist

removing the old user search, we no longer search for usernames in ldap
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-api-dist, build-ui

changed disable checksum config
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

fix wrong collection name in init script
  container_init/mongodb/mongodb-after-entry.sh
Due: build-mongodb-dist

bump tika-app to version 3.2.3 because of https://github.com/advisories/GHSA-f58c-gq56-vjjf
  dockerfiles/pdf_extraction.dockerfile
Due: build-pdf-extraction

allow relative returnto path in shib login
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

add the possibility to define global search query addons
  src/phaidra-ui/pages/admin.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

pdf-extraction/mongodb/api/ui version
  docker-compose.yaml
Due: none

checking dshash in object info for datastream existance
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

invaidating cmodel cache
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-api-dist, build-ui

shib login redirect
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-ui/components/ext/Header.vue
Due: build-api-dist, build-ui

fix missing config
  src/phaidra-ui/store/index.js
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

add legacy /download/pid redirect
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

add possibility to skip fedora transactions
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

api/ui version, adding IR_BASE_URL
  docker-compose.yaml
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

fix wrong context passing in api
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

disable datastreamHash log
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

add log to redirectEvaluator, remove arm from ci temportarily to speed up builds
  .gitlab-ci.yml
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

remove log from redirectEvaluator, add arm to ci again
  .gitlab-ci.yml
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

removing xsl because it caused problems in presence of special characters, also crbug.com/435623334
  src/phaidra-api/public/oai/static/oai2.xsl
  src/phaidra-api/templates/oai/header.xml.ep
Due: build-api-dist
