Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

fix italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

Update api/ui version
  docker-compose.yaml
Due: none

Update to OEFOS from 2026-02-18
  src/phaidra-api/public/vocabulary/OEFOS2012_DE_CTI_utf8.csv
  src/phaidra-api/public/vocabulary/OEFOS2012_EN_CTI_utf8.csv
Due: build-api-dist

update text of University of Padua page
  website/community/universita-di-padova.md
Due: build-website-push-staging, build-website-push-final

update university of padua SVG logo
  website/assets/external/img/logos/unipa.svg
Due: build-website-push-staging, build-website-push-final

update university of padua JPEG logo
  website/assets/external/img/logos/unipa.jpeg
Due: build-website-push-staging, build-website-push-final

fix Iuav University Venice broken link
  website/community/list-of-partners.md
Due: build-website-push-staging, build-website-push-final

update university of padua banner image
  website/assets/external/img/banners/bibliothek-padua.jpg
Due: build-website-push-staging, build-website-push-final

update phaidra padua domain name in phaidra.org website links
  website/community/universita-ca-foscari-venezia.md
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

add breakline inside markdown paragraph
  website/community/universita-di-padova.md
Due: build-website-push-staging, build-website-push-final

fix logo bottom margin for long text
  website/community/universita-di-padova.md
Due: build-website-push-staging, build-website-push-final

Add extended contribution option in admin settings
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-ui/store/index.js
Due: build-ui

Avoid duplicated repository name in HTML page titles
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/mixins/config.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/code-of-ethics.vue
  src/phaidra-ui/pages/collections/_collection.vue
  src/phaidra-ui/pages/contact.vue
  src/phaidra-ui/pages/credits.vue
  src/phaidra-ui/pages/editorial-policies.vue
  src/phaidra-ui/pages/file-formats.vue
  src/phaidra-ui/pages/groups.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/pages/impressum.vue
  src/phaidra-ui/pages/lists.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/search.vue
  src/phaidra-ui/pages/submit/index.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

Update ui version
  docker-compose.yaml
Due: none

Add Vienna University of Applied Arts showcase
  mkdocs.yml
  website/showcases/belgrade.md
  website/showcases/index.md
  website/showcases/vienna-university-of-applied-arts.md
Due: build-website-push-staging, build-website-push-final

fix IUAV Venice link in phaidra.org website mkdocs
  mkdocs.yml
Due: build-website-push-staging, build-website-push-final

Serve /favicon.ico via Alias instead of Redirect
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

added hint to Institution on admin
  src/phaidra-ui/pages/admin.vue
Due: build-ui

v3.4.0
  CHANGELOG.md
  docker-compose.yaml
Due: none

removed unwanted prop
  src/phaidra-ui/layouts/bulk-upload.vue
Due: build-ui

header related style fix
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/plugins/vuetify.js
Due: build-ui

theme dark and light switch
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
Due: build-ui

custom icon color fix
  src/phaidra-ui/components/Icon.vue
Due: build-ui

icon and text color match
  src/phaidra-ui/layouts/default.vue
Due: build-ui

search facet filter design fixes
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

search padding fix
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

Header button on active height fix
  src/phaidra-ui/layouts/default.vue
Due: build-ui

all input props change
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/pages/submit/uwm/[cmodel].vue
  src/phaidra-ui/plugins/vuetify.js
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PICitation.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISeeAlso.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
  src/phaidra-vue-components/src/components/input/PISubjectBk.vue
  src/phaidra-vue-components/src/components/input/PISubjectGnd.vue
  src/phaidra-vue-components/src/components/input/PISubjectOefos.vue
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
  src/phaidra-vue-components/src/components/lists/PDList.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/components/select/CollectionDialog.vue
  src/phaidra-vue-components/src/components/select/ListDialog.vue
  src/phaidra-vue-components/src/components/select/ObjectFromSearch.vue
  src/phaidra-vue-components/src/components/select/RorSearch.vue
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
  src/phaidra-vue-components/src/components/select/YarmRef.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/components/utils/PFeedback.vue
Due: build-ui

checkbox prop change for vuetify 3
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

pagination and checkbox fix in search page
  src/phaidra-ui/plugins/vuetify.js
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/styles/vuetify2-compat.css
Due: build-ui

header space fixes
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

text field and button size fix with vuetify defaults
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/plugins/vuetify.js
Due: build-ui

density prop change
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

vuetify sparkline value fix
  src/phaidra-ui/components/dashboard/Uploads.vue
Due: build-ui

for home design fix
  src/phaidra-ui/layouts/default.vue
Due: build-ui

container to v-container css class change
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

v alert as per vuetify migration guide
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/detail/[pid].vue
  src/phaidra-ui/pages/submitrelated/[relatedpid]/[relation].vue
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/input/PIAlert.vue
  src/phaidra-vue-components/src/components/legacy/PDModsRec.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
  src/phaidra-vue-components/src/components/management/PMDelete.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

header hover fix
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
