Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist, build-imageserver, build-3d-converter, build-360-converter, build-pdf-extraction, build-agent-hdl, build-camel-toolbox, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, build-handle, build-website-push-staging, build-website-push-final, helm-package

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-ssl-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-3d-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-360-converter:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pdf-extraction:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-agent-hdl:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-camel-toolbox:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

httpd: log request duration in microseconds
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-shib-dist, build-httpd-demo-dist, build-httpd-ssl-dist

Update httpd version
  docker-compose.yaml
Due: none

make shibboleth2.xml a config
  configs/shib/shibboleth2.xml
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  docker-compose.yaml
  dockerfiles/httpd-shib-dist.dockerfile
Due: build-httpd-shib-dist

Copy the shib config from shib-init
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
Due: build-httpd-shib-dist

Update httpd-shib version
  docker-compose.yaml
Due: none

Add search field required for tengnagel ui
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
Due: build-api-dist

Update api version
  docker-compose.yaml
Due: none

api: get swagger-ui from github during api image build instead of vendoring it
  dockerfiles/api-base.dockerfile
  src/phaidra-api/public/swagger-ui/favicon-16x16.png
  src/phaidra-api/public/swagger-ui/favicon-32x32.png
  src/phaidra-api/public/swagger-ui/index.css
  src/phaidra-api/public/swagger-ui/swagger-initializer.js
  src/phaidra-api/public/swagger-ui/swagger-ui-bundle.js
  src/phaidra-api/public/swagger-ui/swagger-ui-bundle.js.map
  src/phaidra-api/public/swagger-ui/swagger-ui-es-bundle-core.js
  src/phaidra-api/public/swagger-ui/swagger-ui-es-bundle-core.js.map
  src/phaidra-api/public/swagger-ui/swagger-ui-es-bundle.js
  src/phaidra-api/public/swagger-ui/swagger-ui-es-bundle.js.map
  src/phaidra-api/public/swagger-ui/swagger-ui-standalone-preset.js
  src/phaidra-api/public/swagger-ui/swagger-ui-standalone-preset.js.map
  src/phaidra-api/public/swagger-ui/swagger-ui.css
  src/phaidra-api/public/swagger-ui/swagger-ui.css.map
  src/phaidra-api/public/swagger-ui/swagger-ui.js
  src/phaidra-api/public/swagger-ui/swagger-ui.js.map
Due: build-api-base, build-api-dist

Index member relationship for books, get book pid from ispartof for pages
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Search.pm
Due: build-api-dist

update replayweb service workers
  src/phaidra-api/public/replayweb/sw.js
  src/phaidra-api/public/replayweb/ui.js
Due: build-api-dist

Remove unused values fetch from opencast agent, add thumbnail url fetch
  src/agents/opencast/checker.bash
Due: none

Remove unused streaming code, check pages core for isthumbnailfor
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Remove cookie domain config
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/store/index.js
Due: build-api-dist, build-ui

Add isinadminset to solr query in ui redirect middleware
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

Remove setting cookie domain
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

Additional oai_records index
  CHANGELOG.md
  container_init/mongodb/mongodb-after-entry.sh
  src/phaidra-api/migrations/v3.4.0/11_add_oai_records_index_2.pl
Due: build-api-dist, build-mongodb-dist

fix italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

italian translation fixes
  src/phaidra-ui/locales/ita.json
Due: build-ui

Remove old video streaming handling
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Set referrer-policy to strict-origin
  src/phaidra-ui/nuxt.config.js
Due: build-ui

Fix alto indexing on ALTO upload
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Add crosscite to CSP
  docker-compose.yaml
Due: none

api log message level typo
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Update api/ui version
  docker-compose.yaml
Due: none

Fix indexing alto and ispartof for pages
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Redesign full hero section
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

Update PHAIDRAcon entries in community overview
  website/community/overview.md
Due: build-website-push-staging, build-website-push-final

Redesign header with dark nav bar and restructure site navigation
  mkdocs.yml
  website/assets/css/tweaks.css
  website/overrides/partials/footer.html
  website/overrides/partials/header.html
  website/showcases/index.md
Due: build-website-push-staging, build-website-push-final

collection drag and drop sort: make cmodel translatable and adjust list item background color
  src/phaidra-vue-components/src/components/utils/PSortableSolrDoc.vue
Due: build-ui

Add new partner institutions
  mkdocs.yml
  website/community/bertha-von-suttner-private-university.md
  website/community/list-of-partners.md
  website/community/office-of-the-state-government-of-lower-austria.md
  website/community/university-of-applied-sciences-salzburg.md
Due: build-website-push-staging, build-website-push-final

move bf:publication to the top of bibliographic metadata section
  src/phaidra-ui/pages/submit/upload.vue
Due: build-ui

Update site-wide color scheme from blue to hot pink
  website/assets/css/tweaks.css
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

add migration script for sound cassette uwm vocab entry
  src/phaidra-api/migrations/v3.4.0/12_add_uwm_object_type.pl
Due: build-api-dist

fix linting
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

add sound cassette to uwmetadata tree
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

changelog update for "sound cassette" vocabulary entry addition
  CHANGELOG.md
Due: none

add sound cassette 1557168 vocab entry to uwm xsd
  src/phaidra-api/public/xsd/uwmetadata/ns0.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns1.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns10.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns11.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns12.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns13.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns2.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns3.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns4.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns5.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns6.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns7.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns8.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns9.xsd
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container_init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-shib-dist: any of: dockerfiles/httpd-shib-base.dockerfile, dockerfiles/httpd-shib-dist.dockerfile, container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash, container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt, container_init/httpd/phaidra-shib/conf/attribute-map.xml, container_init/httpd/phaidra-shib/conf/attribute-policy.xml, container_init/httpd/phaidra-shib/conf/shibboleth2.xml, container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-httpd-ssl-dist: any of: dockerfiles/httpd-ssl-dist.dockerfile, container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf, container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-3d-converter: any of: dockerfiles/3d.dockerfile, src/3d/**/*
  build-360-converter: any of: dockerfiles/360viewer.dockerfile, src/360viewer/**/*
  build-pdf-extraction: any of: dockerfiles/pdf_extraction.dockerfile, src/pdf_extraction/**/*
  build-agent-hdl: any of: dockerfiles/agent-hdl.dockerfile, src/agents/hdl/**/*
  build-camel-toolbox: any of: dockerfiles/camel.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local-config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  build-handle: any of: dockerfiles/handle.dockerfile, container_init/handle/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
  helm-package: any of: k8s/helm/**/*
